.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alertHeading {
  color: inherit;
}

.alertLink {
  font-weight: bold;
}

.alertDismissible .alertClose {
  position: relative;
  top: -0.75rem;
  right: -1.25rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alertClose {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.alertClose:focus, .alertClose:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

button.alertClose {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.alertFade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.alertFade.alertShow {
  opacity: 1;
}

.alertPrimary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alertPrimary hr {
  border-top-color: #9fcdff;
}

.alertPrimary .alertLink {
  color: #002752;
}

.alertSecondary {
  color: #464a4e;
  background-color: #e7e8ea;
  border-color: #dddfe2;
}

.alertSecondary hr {
  border-top-color: #cfd2d6;
}

.alertSecondary .alertLink {
  color: #2e3133;
}

.alertSuccess {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alertSuccess hr {
  border-top-color: #b1dfbb;
}

.alertSuccess .alertLink {
  color: #0b2e13;
}

.alertInfo {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alertInfo hr {
  border-top-color: #abdde5;
}

.alertInfo .alertLink {
  color: #062c33;
}

.alertWarning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alertWarning hr {
  border-top-color: #ffe8a1;
}

.alertWarning .alertLink {
  color: #533f03;
}

.alertDanger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alertDanger hr {
  border-top-color: #f1b0b7;
}

.alertDanger .alertLink {
  color: #491217;
}

.alertLight {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alertLight hr {
  border-top-color: #ececf6;
}

.alertLight .alertLink {
  color: #686868;
}

.alertDark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alertDark hr {
  border-top-color: #b9bbbe;
}

.alertDark .alertLink {
  color: #040505;
}
