.bgPrimary {
  background-color: #007bff !important;
}

a.bgPrimary:focus, a.bgPrimary:hover {
  background-color: #0062cc !important;
}

.bgSecondary {
  background-color: #868e96 !important;
}

a.bgSecondary:focus, a.bgSecondary:hover {
  background-color: #6c757d !important;
}

.bgSuccess {
  background-color: #28a745 !important;
}

a.bgSuccess:focus, a.bgSuccess:hover {
  background-color: #1e7e34 !important;
}

.bgInfo {
  background-color: #17a2b8 !important;
}

a.bgInfo:focus, a.bgInfo:hover {
  background-color: #117a8b !important;
}

.bgWarning {
  background-color: #ffc107 !important;
}

a.bgWarning:focus, a.bgWarning:hover {
  background-color: #d39e00 !important;
}

.bgDanger {
  background-color: #dc3545 !important;
}

a.bgDanger:focus, a.bgDanger:hover {
  background-color: #bd2130 !important;
}

.bgLight {
  background-color: #f8f9fa !important;
}

a.bgLight:focus, a.bgLight:hover {
  background-color: #dae0e5 !important;
}

.bgDark {
  background-color: #343a40 !important;
}

a.bgDark:focus, a.bgDark:hover {
  background-color: #1d2124 !important;
}

.bgWhite {
  background-color: #fff !important;
}

.bgTransparent {
  background-color: transparent !important;
}
