.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge:empty {
  display: none;
}

.badgePill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badgePrimary {
  background-color: #007bff;
}

.badgePrimary[href]:focus, .badgePrimary[href]:hover {
  background-color: #0062cc;
}

.badgeSecondary {
  background-color: #868e96;
}

.badgeSecondary[href]:focus, .badgeSecondary[href]:hover {
  background-color: #6c757d;
}

.badgeSuccess {
  background-color: #28a745;
}

.badgeSuccess[href]:focus, .badgeSuccess[href]:hover {
  background-color: #1e7e34;
}

.badgeInfo {
  background-color: #17a2b8;
}

.badgeInfo[href]:focus, .badgeInfo[href]:hover {
  background-color: #117a8b;
}

.badgeWarning {
  background-color: #ffc107;
}

.badgeWarning[href]:focus, .badgeWarning[href]:hover {
  background-color: #d39e00;
}

.badgeDanger {
  background-color: #dc3545;
}

.badgeDanger[href]:focus, .badgeDanger[href]:hover {
  background-color: #bd2130;
}

.badgeLight {
  background-color: #f8f9fa;
}

.badgeLight[href]:focus, .badgeLight[href]:hover {
  background-color: #dae0e5;
}

.badgeDark {
  background-color: #343a40;
}

.badgeDark[href]:focus, .badgeDark[href]:hover {
  background-color: #1d2124;
}

@media print {
  .badge {
    border: 1px solid #000;
  }
}
