.border {
  border: 1px solid #e9ecef !important;
}

.border0 {
  border: 0 !important;
}

.borderTop0 {
  border-top: 0 !important;
}

.borderRight0 {
  border-right: 0 !important;
}

.borderBottom0 {
  border-bottom: 0 !important;
}

.borderLeft0 {
  border-left: 0 !important;
}

.borderPrimary {
  border-color: #007bff !important;
}

.borderSecondary {
  border-color: #868e96 !important;
}

.borderSuccess {
  border-color: #28a745 !important;
}

.borderInfo {
  border-color: #17a2b8 !important;
}

.borderWarning {
  border-color: #ffc107 !important;
}

.borderDanger {
  border-color: #dc3545 !important;
}

.borderLight {
  border-color: #f8f9fa !important;
}

.borderDark {
  border-color: #343a40 !important;
}

.borderWhite {
  border-color: #fff !important;
}

.rounded {
  border-radius: 0.25rem;
}

.roundedTop {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.roundedRight {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.roundedBottom {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.roundedLeft {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.roundedCircle {
  border-radius: 50%;
}

.rounded0 {
  border-radius: 0;
}
