.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btnPrimary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btnPrimary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btnPrimary:focus, .btnPrimary.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btnPrimary.disabled, .btnPrimary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

.btnPrimary:active, .btnPrimary.active {
  background-color: #0069d9;
  background-image: none;
  border-color: #0062cc;
}

.btnSecondary {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
}

.btnSecondary:hover {
  color: #fff;
  background-color: #727b84;
  border-color: #6c757d;
}

.btnSecondary:focus, .btnSecondary.focus {
  box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5);
}

.btnSecondary.disabled, .btnSecondary:disabled {
  background-color: #868e96;
  border-color: #868e96;
}

.btnSecondary:active, .btnSecondary.active {
  background-color: #727b84;
  background-image: none;
  border-color: #6c757d;
}

.btnSuccess {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btnSuccess:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btnSuccess:focus, .btnSuccess.focus {
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

.btnSuccess.disabled, .btnSuccess:disabled {
  background-color: #28a745;
  border-color: #28a745;
}

.btnSuccess:active, .btnSuccess.active {
  background-color: #218838;
  background-image: none;
  border-color: #1e7e34;
}

.btnInfo {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btnInfo:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.btnInfo:focus, .btnInfo.focus {
  box-shadow: 0 0 0 3px rgba(23, 162, 184, 0.5);
}

.btnInfo.disabled, .btnInfo:disabled {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btnInfo:active, .btnInfo.active {
  background-color: #138496;
  background-image: none;
  border-color: #117a8b;
}

.btnWarning {
  color: #111;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btnWarning:hover {
  color: #111;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btnWarning:focus, .btnWarning.focus {
  box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5);
}

.btnWarning.disabled, .btnWarning:disabled {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btnWarning:active, .btnWarning.active {
  background-color: #e0a800;
  background-image: none;
  border-color: #d39e00;
}

.btnDanger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btnDanger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btnDanger:focus, .btnDanger.focus {
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5);
}

.btnDanger.disabled, .btnDanger:disabled {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btnDanger:active, .btnDanger.active {
  background-color: #c82333;
  background-image: none;
  border-color: #bd2130;
}

.btnLight {
  color: #111;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btnLight:hover {
  color: #111;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btnLight:focus, .btnLight.focus {
  box-shadow: 0 0 0 3px rgba(248, 249, 250, 0.5);
}

.btnLight.disabled, .btnLight:disabled {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btnLight:active, .btnLight.active {
  background-color: #e2e6ea;
  background-image: none;
  border-color: #dae0e5;
}

.btnDark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btnDark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btnDark:focus, .btnDark.focus {
  box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.5);
}

.btnDark.disabled, .btnDark:disabled {
  background-color: #343a40;
  border-color: #343a40;
}

.btnDark:active, .btnDark.active {
  background-color: #23272b;
  background-image: none;
  border-color: #1d2124;
}

.btnOutlinePrimary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btnOutlinePrimary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btnOutlinePrimary:focus, .btnOutlinePrimary.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btnOutlinePrimary.disabled, .btnOutlinePrimary:disabled {
  color: #007bff;
  background-color: transparent;
}

.btnOutlinePrimary:active, .btnOutlinePrimary.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btnOutlineSecondary {
  color: #868e96;
  background-color: transparent;
  background-image: none;
  border-color: #868e96;
}

.btnOutlineSecondary:hover {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
}

.btnOutlineSecondary:focus, .btnOutlineSecondary.focus {
  box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5);
}

.btnOutlineSecondary.disabled, .btnOutlineSecondary:disabled {
  color: #868e96;
  background-color: transparent;
}

.btnOutlineSecondary:active, .btnOutlineSecondary.active {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
}

.btnOutlineSuccess {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.btnOutlineSuccess:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btnOutlineSuccess:focus, .btnOutlineSuccess.focus {
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

.btnOutlineSuccess.disabled, .btnOutlineSuccess:disabled {
  color: #28a745;
  background-color: transparent;
}

.btnOutlineSuccess:active, .btnOutlineSuccess.active {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btnOutlineInfo {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

.btnOutlineInfo:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btnOutlineInfo:focus, .btnOutlineInfo.focus {
  box-shadow: 0 0 0 3px rgba(23, 162, 184, 0.5);
}

.btnOutlineInfo.disabled, .btnOutlineInfo:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.btnOutlineInfo:active, .btnOutlineInfo.active {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btnOutlineWarning {
  color: #ffc107;
  background-color: transparent;
  background-image: none;
  border-color: #ffc107;
}

.btnOutlineWarning:hover {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btnOutlineWarning:focus, .btnOutlineWarning.focus {
  box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5);
}

.btnOutlineWarning.disabled, .btnOutlineWarning:disabled {
  color: #ffc107;
  background-color: transparent;
}

.btnOutlineWarning:active, .btnOutlineWarning.active {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btnOutlineDanger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btnOutlineDanger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btnOutlineDanger:focus, .btnOutlineDanger.focus {
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5);
}

.btnOutlineDanger.disabled, .btnOutlineDanger:disabled {
  color: #dc3545;
  background-color: transparent;
}

.btnOutlineDanger:active, .btnOutlineDanger.active {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btnOutlineLight {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}

.btnOutlineLight:hover {
  color: #fff;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btnOutlineLight:focus, .btnOutlineLight.focus {
  box-shadow: 0 0 0 3px rgba(248, 249, 250, 0.5);
}

.btnOutlineLight.disabled, .btnOutlineLight:disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btnOutlineLight:active, .btnOutlineLight.active {
  color: #fff;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btnOutlineDark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.btnOutlineDark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btnOutlineDark:focus, .btnOutlineDark.focus {
  box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.5);
}

.btnOutlineDark.disabled, .btnOutlineDark:disabled {
  color: #343a40;
  background-color: transparent;
}

.btnOutlineDark:active, .btnOutlineDark.active {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btnLink {
  font-weight: normal;
  color: #007bff;
  border-radius: 0;
}

.btnLink, .btnLink:active, .btnLink.active, .btnLink:disabled {
  background-color: transparent;
}

.btnLink, .btnLink:focus, .btnLink:active {
  border-color: transparent;
  box-shadow: none;
}

.btnLink:hover {
  border-color: transparent;
}

.btnLink:focus, .btnLink:hover {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
}

.btnLink:disabled {
  color: #868e96;
}

.btnLink:disabled:focus, .btnLink:disabled:hover {
  text-decoration: none;
}

.btnLg, .btnGroupLg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btnSm, .btnGroupSm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btnBlock {
  display: block;
  width: 100%;
}

.btnBlock + .btnBlock {
  margin-top: 0.5rem;
}

input[type="submit"].btnBlock,
input[type="reset"].btnBlock,
input[type="button"].btnBlock {
  width: 100%;
}

.btnGroup,
.btnGroupVertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btnGroup > .btn,
.btnGroupVertical > .btn {
  position: relative;
  flex: 0 1 auto;
  margin-bottom: 0;
}

.btnGroup > .btn:hover,
.btnGroupVertical > .btn:hover {
  z-index: 2;
}

.btnGroup > .btn:focus, .btnGroup > .btn:active, .btnGroup > .btn.active,
.btnGroupVertical > .btn:focus,
.btnGroupVertical > .btn:active,
.btnGroupVertical > .btn.active {
  z-index: 2;
}

.btnGroup .btn + .btn,
.btnGroup .btn + .btnGroup,
.btnGroup .btnGroup + .btn,
.btnGroup .btnGroup + .btnGroup,
.btnGroupVertical .btn + .btn,
.btnGroupVertical .btn + .btnGroup,
.btnGroupVertical .btnGroup + .btn,
.btnGroupVertical .btnGroup + .btnGroup {
  margin-left: -1px;
}

.btnToolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.btnGroup > .btn:first-child {
  margin-left: 0;
}

.btnGroup > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btnGroup > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btnGroup > .btnGroup {
  float: left;
}

.btnGroup > .btnGroup:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btnGroup > .btnGroup:first-child:not(:last-child) > .btn:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btnGroup > .btnGroup:last-child:not(:first-child) > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btnGroupVertical {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.btnGroupVertical .btn,
.btnGroupVertical .btnGroup {
  width: 100%;
}

.btnGroupVertical > .btn + .btn,
.btnGroupVertical > .btn + .btnGroup,
.btnGroupVertical > .btnGroup + .btn,
.btnGroupVertical > .btnGroup + .btnGroup {
  margin-top: -1px;
  margin-left: 0;
}

.btnGroupVertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btnGroupVertical > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btnGroupVertical > .btn:last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.btnGroupVertical > .btnGroup:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btnGroupVertical > .btnGroup:first-child:not(:last-child) > .btn:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btnGroupVertical > .btnGroup:last-child:not(:first-child) > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btnGroup > .btn input[type="radio"],
[data-toggle="buttons"] > .btnGroup > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
