.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col, .colSm1, .colSm2, .colSm3, .colSm4, .colSm5, .colSm6, .colSm7, .colSm8, .colSm9, .colSm10, .colSm11, .colSm12, .colSm, .colMd1, .colMd2, .colMd3, .colMd4, .colMd5, .colMd6, .colMd7, .colMd8, .colMd9, .colMd10, .colMd11, .colMd12, .colMd, .colLg1, .colLg2, .colLg3, .colLg4, .colLg5, .colLg6, .colLg7, .colLg8, .colLg9, .colLg10, .colLg11, .colLg12, .colLg, .colXl1, .colXl2, .colXl3, .colXl4, .colXl5, .colXl6, .colXl7, .colXl8, .colXl9, .colXl10, .colXl11, .colXl12, .colXl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col, .colSm1, .colSm2, .colSm3, .colSm4, .colSm5, .colSm6, .colSm7, .colSm8, .colSm9, .colSm10, .colSm11, .colSm12, .colSm, .colMd1, .colMd2, .colMd3, .colMd4, .colMd5, .colMd6, .colMd7, .colMd8, .colMd9, .colMd10, .colMd11, .colMd12, .colMd, .colLg1, .colLg2, .colLg3, .colLg4, .colLg5, .colLg6, .colLg7, .colLg8, .colLg9, .colLg10, .colLg11, .colLg12, .colLg, .colXl1, .colXl2, .colXl3, .colXl4, .colXl5, .colXl6, .colXl7, .colXl8, .colXl9, .colXl10, .colXl11, .colXl12, .colXl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col, .colSm1, .colSm2, .colSm3, .colSm4, .colSm5, .colSm6, .colSm7, .colSm8, .colSm9, .colSm10, .colSm11, .colSm12, .colSm, .colMd1, .colMd2, .colMd3, .colMd4, .colMd5, .colMd6, .colMd7, .colMd8, .colMd9, .colMd10, .colMd11, .colMd12, .colMd, .colLg1, .colLg2, .colLg3, .colLg4, .colLg5, .colLg6, .colLg7, .colLg8, .colLg9, .colLg10, .colLg11, .colLg12, .colLg, .colXl1, .colXl2, .colXl3, .colXl4, .colXl5, .colXl6, .colXl7, .colXl8, .colXl9, .colXl10, .colXl11, .colXl12, .colXl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col, .colSm1, .colSm2, .colSm3, .colSm4, .colSm5, .colSm6, .colSm7, .colSm8, .colSm9, .colSm10, .colSm11, .colSm12, .colSm, .colMd1, .colMd2, .colMd3, .colMd4, .colMd5, .colMd6, .colMd7, .colMd8, .colMd9, .colMd10, .colMd11, .colMd12, .colMd, .colLg1, .colLg2, .colLg3, .colLg4, .colLg5, .colLg6, .colLg7, .colLg8, .colLg9, .colLg10, .colLg11, .colLg12, .colLg, .colXl1, .colXl2, .colXl3, .colXl4, .colXl5, .colXl6, .colXl7, .colXl8, .colXl9, .colXl10, .colXl11, .colXl12, .colXl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col, .colSm1, .colSm2, .colSm3, .colSm4, .colSm5, .colSm6, .colSm7, .colSm8, .colSm9, .colSm10, .colSm11, .colSm12, .colSm, .colMd1, .colMd2, .colMd3, .colMd4, .colMd5, .colMd6, .colMd7, .colMd8, .colMd9, .colMd10, .colMd11, .colMd12, .colMd, .colLg1, .colLg2, .colLg3, .colLg4, .colLg5, .colLg6, .colLg7, .colLg8, .colLg9, .colLg10, .colLg11, .colLg12, .colLg, .colXl1, .colXl2, .colXl3, .colXl4, .colXl5, .colXl6, .colXl7, .colXl8, .colXl9, .colXl10, .colXl11, .colXl12, .colXl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.colAuto {
  flex: 0 0 auto;
  width: auto;
}

.col1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .colSm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .colSmAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .colSm1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .colSm2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colSm3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .colSm4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .colSm5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .colSm6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colSm7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .colSm8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .colSm9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .colSm10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .colSm11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .colSm12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .colMd {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .colMdAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .colMd1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .colMd2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colMd3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .colMd4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .colMd5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .colMd6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colMd7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .colMd8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .colMd9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .colMd10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .colMd11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .colMd12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .colLg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .colLgAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .colLg1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .colLg2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colLg3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .colLg4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .colLg5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .colLg6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colLg7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .colLg8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .colLg9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .colLg10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .colLg11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .colLg12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .colXl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .colXlAuto {
    flex: 0 0 auto;
    width: auto;
  }
  .colXl1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .colXl2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colXl3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .colXl4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .colXl5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .colXl6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colXl7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .colXl8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .colXl9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .colXl10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .colXl11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .colXl12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
