.dNone {
  display: none !important;
}

.dInline {
  display: inline !important;
}

.dInlineBlock {
  display: inline-block !important;
}

.dBlock {
  display: block !important;
}

.dTable {
  display: table !important;
}

.dTableCell {
  display: table-cell !important;
}

.dFlex {
  display: flex !important;
}

.dInlineFlex {
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .dSmNone {
    display: none !important;
  }
  .dSmInline {
    display: inline !important;
  }
  .dSmInlineBlock {
    display: inline-block !important;
  }
  .dSmBlock {
    display: block !important;
  }
  .dSmTable {
    display: table !important;
  }
  .dSmTableCell {
    display: table-cell !important;
  }
  .dSmFlex {
    display: flex !important;
  }
  .dSmInlineFlex {
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .dMdNone {
    display: none !important;
  }
  .dMdInline {
    display: inline !important;
  }
  .dMdInlineBlock {
    display: inline-block !important;
  }
  .dMdBlock {
    display: block !important;
  }
  .dMdTable {
    display: table !important;
  }
  .dMdTableCell {
    display: table-cell !important;
  }
  .dMdFlex {
    display: flex !important;
  }
  .dMdInlineFlex {
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .dLgNone {
    display: none !important;
  }
  .dLgInline {
    display: inline !important;
  }
  .dLgInlineBlock {
    display: inline-block !important;
  }
  .dLgBlock {
    display: block !important;
  }
  .dLgTable {
    display: table !important;
  }
  .dLgTableCell {
    display: table-cell !important;
  }
  .dLgFlex {
    display: flex !important;
  }
  .dLgInlineFlex {
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .dXlNone {
    display: none !important;
  }
  .dXlInline {
    display: inline !important;
  }
  .dXlInlineBlock {
    display: inline-block !important;
  }
  .dXlBlock {
    display: block !important;
  }
  .dXlTable {
    display: table !important;
  }
  .dXlTableCell {
    display: table-cell !important;
  }
  .dXlFlex {
    display: flex !important;
  }
  .dXlInlineFlex {
    display: inline-flex !important;
  }
}
