.formControl {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.formControl::-ms-expand {
  background-color: transparent;
  border: 0;
}

.formControl:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: none;
}

.formControl::placeholder {
  color: #868e96;
  opacity: 1;
}

.formControl:disabled, .formControl[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.formControlFile,
.formControlRange {
  display: block;
}

.colFormLabel {
  padding-top: calc(0.5rem - 1px * 2);
  padding-bottom: calc(0.5rem - 1px * 2);
  margin-bottom: 0;
}

.colFormLabelLg {
  padding-top: calc(0.5rem - 1px * 2);
  padding-bottom: calc(0.5rem - 1px * 2);
  font-size: 1.25rem;
}

.colFormLabelSm {
  padding-top: calc(0.25rem - 1px * 2);
  padding-bottom: calc(0.25rem - 1px * 2);
  font-size: 0.875rem;
}

.colFormLegend {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.formControlPlaintext {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  line-height: 1.25;
  border: solid transparent;
  border-width: 1px 0;
}

.formControlPlaintext.formControlSm, .inputGroupSm > .formControlPlaintext.formControl,
.inputGroupSm > .formControlPlaintext.inputGroupAddon, .formControlPlaintext.formControlLg, .inputGroupLg > .formControlPlaintext.formControl,
.inputGroupLg > .formControlPlaintext.inputGroupAddon {
  padding-right: 0;
  padding-left: 0;
}

.formControlSm, .inputGroupSm > .formControl,
.inputGroupSm > .inputGroupAddon {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

select.formControlSm:not([size]):not([multiple]), .inputGroupSm > select.formControl:not([size]):not([multiple]),
.inputGroupSm > select.inputGroupAddon:not([size]):not([multiple]) {
  height: calc(1.8125rem + 2px);
}

.formControlLg, .inputGroupLg > .formControl,
.inputGroupLg > .inputGroupAddon {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

select.formControlLg:not([size]):not([multiple]), .inputGroupLg > select.formControl:not([size]):not([multiple]),
.inputGroupLg > select.inputGroupAddon:not([size]):not([multiple]) {
  height: calc(2.875rem + 2px);
}

.formGroup {
  margin-bottom: 1rem;
}

.formText {
  display: block;
  margin-top: 0.25rem;
}

.formCheck {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
}

.formCheck.disabled .formCheckLabel {
  color: #868e96;
}

.formCheckLabel {
  padding-left: 1.25rem;
  margin-bottom: 0;
}

.formCheckInput {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: -1.25rem;
}

.formCheckInline {
  display: inline-block;
}

.formCheckInline .formCheckLabel {
  vertical-align: middle;
}

.formCheckInline + .formCheckInline {
  margin-left: 0.75rem;
}

.invalidFeedback {
  display: none;
  margin-top: .25rem;
  font-size: .875rem;
  color: #dc3545;
}

.invalidTooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  width: 250px;
  padding: .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.8);
  border-radius: 0.2rem;
}

.wasValidated .formControl:valid, .formControl.isValid, .wasValidated
.customSelect:valid,
.customSelect.isValid {
  border-color: #28a745;
}

.wasValidated .formControl:valid:focus, .formControl.isValid:focus, .wasValidated
.customSelect:valid:focus,
.customSelect.isValid:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.wasValidated .formControl:valid ~ .invalidFeedback,
.wasValidated .formControl:valid ~ .invalidTooltip, .formControl.isValid ~ .invalidFeedback,
.formControl.isValid ~ .invalidTooltip, .wasValidated
.customSelect:valid ~ .invalidFeedback,
.wasValidated
.customSelect:valid ~ .invalidTooltip,
.customSelect.isValid ~ .invalidFeedback,
.customSelect.isValid ~ .invalidTooltip {
  display: block;
}

.wasValidated .formCheckInput:valid + .formCheckLabel, .formCheckInput.isValid + .formCheckLabel {
  color: #28a745;
}

.wasValidated .customControlInput:valid ~ .customControlIndicator, .customControlInput.isValid ~ .customControlIndicator {
  background-color: rgba(40, 167, 69, 0.25);
}

.wasValidated .customControlInput:valid ~ .customControlDescription, .customControlInput.isValid ~ .customControlDescription {
  color: #28a745;
}

.wasValidated .customFileInput:valid ~ .customFileControl, .customFileInput.isValid ~ .customFileControl {
  border-color: #28a745;
}

.wasValidated .customFileInput:valid ~ .customFileControl::before, .customFileInput.isValid ~ .customFileControl::before {
  border-color: inherit;
}

.wasValidated .customFileInput:valid:focus, .customFileInput.isValid:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.wasValidated .formControl:invalid, .formControl.isInvalid, .wasValidated
.customSelect:invalid,
.customSelect.isInvalid {
  border-color: #dc3545;
}

.wasValidated .formControl:invalid:focus, .formControl.isInvalid:focus, .wasValidated
.customSelect:invalid:focus,
.customSelect.isInvalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.wasValidated .formControl:invalid ~ .invalidFeedback,
.wasValidated .formControl:invalid ~ .invalidTooltip, .formControl.isInvalid ~ .invalidFeedback,
.formControl.isInvalid ~ .invalidTooltip, .wasValidated
.customSelect:invalid ~ .invalidFeedback,
.wasValidated
.customSelect:invalid ~ .invalidTooltip,
.customSelect.isInvalid ~ .invalidFeedback,
.customSelect.isInvalid ~ .invalidTooltip {
  display: block;
}

.wasValidated .formCheckInput:invalid + .formCheckLabel, .formCheckInput.isInvalid + .formCheckLabel {
  color: #dc3545;
}

.wasValidated .customControlInput:invalid ~ .customControlIndicator, .customControlInput.isInvalid ~ .customControlIndicator {
  background-color: rgba(220, 53, 69, 0.25);
}

.wasValidated .customControlInput:invalid ~ .customControlDescription, .customControlInput.isInvalid ~ .customControlDescription {
  color: #dc3545;
}

.wasValidated .customFileInput:invalid ~ .customFileControl, .customFileInput.isInvalid ~ .customFileControl {
  border-color: #dc3545;
}

.wasValidated .customFileInput:invalid ~ .customFileControl::before, .customFileInput.isInvalid ~ .customFileControl::before {
  border-color: inherit;
}

.wasValidated .customFileInput:invalid:focus, .customFileInput.isInvalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.formInline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.formInline .formCheck {
  width: 100%;
}

@media (min-width: 576px) {
  .formInline label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .formInline .formGroup {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
  }
  .formInline .formControl {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .formInline .formControlPlaintext {
    display: inline-block;
  }
  .formInline .inputGroup {
    width: auto;
  }
  .formInline .formControlLabel {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .formInline .formCheck {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .formInline .formCheckLabel {
    padding-left: 0;
  }
  .formInline .formCheckInput {
    position: relative;
    margin-top: 0;
    margin-right: 0.25rem;
    margin-left: 0;
  }
  .formInline .hasFeedback .formControlFeedback {
    top: 0;
  }
}

.inputGroup {
  position: relative;
  display: flex;
  width: 100%;
}

.inputGroup .formControl {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.inputGroup .formControl:focus, .inputGroup .formControl:active, .inputGroup .formControl:hover {
  z-index: 3;
}

.inputGroupAddon,
.inputGroupBtn,
.inputGroup .formControl {
  display: flex;
  align-items: center;
}

.inputGroupAddon:not(:first-child):not(:last-child),
.inputGroupBtn:not(:first-child):not(:last-child),
.inputGroup .formControl:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.inputGroupAddon,
.inputGroupBtn {
  white-space: nowrap;
  vertical-align: middle;
}

.inputGroupAddon {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.inputGroupAddon.formControlSm,
.inputGroupSm > .inputGroupAddon {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.inputGroupAddon.formControlLg,
.inputGroupLg > .inputGroupAddon {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.inputGroupAddon input[type="radio"],
.inputGroupAddon input[type="checkbox"] {
  margin-top: 0;
}

.inputGroup .formControl:not(:last-child),
.inputGroupAddon:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.inputGroupAddon:not(:last-child) {
  border-right: 0;
}

.inputGroup .formControl:not(:first-child),
.inputGroupAddon:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.formControl + .inputGroupAddon:not(:first-child) {
  border-left: 0;
}
