.imgFluid {
  max-width: 100%;
  height: auto;
}

.imgThumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figureImg {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figureCaption {
  font-size: 90%;
  color: #636c72;
}
