.mx0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.mxAuto {
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .mxSm0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .mxSm1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  .mxSm2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .mxSm3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .mxSm4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }
  .mxSm5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .mxSmAuto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media (min-width: 768px) {
  .mxMd0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .mxMd1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  .mxMd2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .mxMd3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .mxMd4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }
  .mxMd5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .mxMdAuto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media (min-width: 992px) {
  .mxLg0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .mxLg1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  .mxLg2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .mxLg3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .mxLg4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }
  .mxLg5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .mxLgAuto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {
  .mxXl0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .mxXl1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  .mxXl2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .mxXl3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .mxXl4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }
  .mxXl5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .mxXlAuto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
