.ml0 {
  margin-left: 0 !important;
}

.ml1 {
  margin-left: 0.25rem !important;
}

.ml2 {
  margin-left: 0.5rem !important;
}

.ml3 {
  margin-left: 1rem !important;
}

.ml4 {
  margin-left: 1.5rem !important;
}

.ml5 {
  margin-left: 3rem !important;
}

.mlAuto {
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .mlSm0 {
    margin-left: 0 !important;
  }
  .mlSm1 {
    margin-left: 0.25rem !important;
  }
  .mlSm2 {
    margin-left: 0.5rem !important;
  }
  .mlSm3 {
    margin-left: 1rem !important;
  }
  .mlSm4 {
    margin-left: 1.5rem !important;
  }
  .mlSm5 {
    margin-left: 3rem !important;
  }
  .mlSmAuto {
    margin-left: auto !important;
  }
}

@media (min-width: 768px) {
  .mlMd0 {
    margin-left: 0 !important;
  }
  .mlMd1 {
    margin-left: 0.25rem !important;
  }
  .mlMd2 {
    margin-left: 0.5rem !important;
  }
  .mlMd3 {
    margin-left: 1rem !important;
  }
  .mlMd4 {
    margin-left: 1.5rem !important;
  }
  .mlMd5 {
    margin-left: 3rem !important;
  }
  .mlMdAuto {
    margin-left: auto !important;
  }
}

@media (min-width: 992px) {
  .mlLg0 {
    margin-left: 0 !important;
  }
  .mlLg1 {
    margin-left: 0.25rem !important;
  }
  .mlLg2 {
    margin-left: 0.5rem !important;
  }
  .mlLg3 {
    margin-left: 1rem !important;
  }
  .mlLg4 {
    margin-left: 1.5rem !important;
  }
  .mlLg5 {
    margin-left: 3rem !important;
  }
  .mlLgAuto {
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {
  .mlXl0 {
    margin-left: 0 !important;
  }
  .mlXl1 {
    margin-left: 0.25rem !important;
  }
  .mlXl2 {
    margin-left: 0.5rem !important;
  }
  .mlXl3 {
    margin-left: 1rem !important;
  }
  .mlXl4 {
    margin-left: 1.5rem !important;
  }
  .mlXl5 {
    margin-left: 3rem !important;
  }
  .mlXlAuto {
    margin-left: auto !important;
  }
}
