.mt0 {
  margin-top: 0 !important;
}

.mt1 {
  margin-top: 0.25rem !important;
}

.mt2 {
  margin-top: 0.5rem !important;
}

.mt3 {
  margin-top: 1rem !important;
}

.mt4 {
  margin-top: 1.5rem !important;
}

.mt5 {
  margin-top: 3rem !important;
}

.mtAuto {
  margin-top: auto !important;
}

@media (min-width: 576px) {
  .mtSm0 {
    margin-top: 0 !important;
  }
  .mtSm1 {
    margin-top: 0.25rem !important;
  }
  .mtSm2 {
    margin-top: 0.5rem !important;
  }
  .mtSm3 {
    margin-top: 1rem !important;
  }
  .mtSm4 {
    margin-top: 1.5rem !important;
  }
  .mtSm5 {
    margin-top: 3rem !important;
  }
  .mtSmAuto {
    margin-top: auto !important;
  }
}

@media (min-width: 768px) {
  .mtMd0 {
    margin-top: 0 !important;
  }
  .mtMd1 {
    margin-top: 0.25rem !important;
  }
  .mtMd2 {
    margin-top: 0.5rem !important;
  }
  .mtMd3 {
    margin-top: 1rem !important;
  }
  .mtMd4 {
    margin-top: 1.5rem !important;
  }
  .mtMd5 {
    margin-top: 3rem !important;
  }
  .mtMdAuto {
    margin-top: auto !important;
  }
}

@media (min-width: 992px) {
  .mtLg0 {
    margin-top: 0 !important;
  }
  .mtLg1 {
    margin-top: 0.25rem !important;
  }
  .mtLg2 {
    margin-top: 0.5rem !important;
  }
  .mtLg3 {
    margin-top: 1rem !important;
  }
  .mtLg4 {
    margin-top: 1.5rem !important;
  }
  .mtLg5 {
    margin-top: 3rem !important;
  }
  .mtLgAuto {
    margin-top: auto !important;
  }
}

@media (min-width: 1200px) {
  .mtXl0 {
    margin-top: 0 !important;
  }
  .mtXl1 {
    margin-top: 0.25rem !important;
  }
  .mtXl2 {
    margin-top: 0.5rem !important;
  }
  .mtXl3 {
    margin-top: 1rem !important;
  }
  .mtXl4 {
    margin-top: 1.5rem !important;
  }
  .mtXl5 {
    margin-top: 3rem !important;
  }
  .mtXlAuto {
    margin-top: auto !important;
  }
}
