.mr0 {
  margin-right: 0 !important;
}

.mr1 {
  margin-right: 0.25rem !important;
}

.mr2 {
  margin-right: 0.5rem !important;
}

.mr3 {
  margin-right: 1rem !important;
}

.mr4 {
  margin-right: 1.5rem !important;
}

.mr5 {
  margin-right: 3rem !important;
}

.mrAuto {
  margin-right: auto !important;
}

@media (min-width: 576px) {
  .mrSm0 {
    margin-right: 0 !important;
  }
  .mrSm1 {
    margin-right: 0.25rem !important;
  }
  .mrSm2 {
    margin-right: 0.5rem !important;
  }
  .mrSm3 {
    margin-right: 1rem !important;
  }
  .mrSm4 {
    margin-right: 1.5rem !important;
  }
  .mrSm5 {
    margin-right: 3rem !important;
  }
  .mrSmAuto {
    margin-right: auto !important;
  }
}

@media (min-width: 768px) {
  .mrMd0 {
    margin-right: 0 !important;
  }
  .mrMd1 {
    margin-right: 0.25rem !important;
  }
  .mrMd2 {
    margin-right: 0.5rem !important;
  }
  .mrMd3 {
    margin-right: 1rem !important;
  }
  .mrMd4 {
    margin-right: 1.5rem !important;
  }
  .mrMd5 {
    margin-right: 3rem !important;
  }
  .mrMdAuto {
    margin-right: auto !important;
  }
}

@media (min-width: 992px) {
  .mrLg0 {
    margin-right: 0 !important;
  }
  .mrLg1 {
    margin-right: 0.25rem !important;
  }
  .mrLg2 {
    margin-right: 0.5rem !important;
  }
  .mrLg3 {
    margin-right: 1rem !important;
  }
  .mrLg4 {
    margin-right: 1.5rem !important;
  }
  .mrLg5 {
    margin-right: 3rem !important;
  }
  .mrLgAuto {
    margin-right: auto !important;
  }
}

@media (min-width: 1200px) {
  .mrXl0 {
    margin-right: 0 !important;
  }
  .mrXl1 {
    margin-right: 0.25rem !important;
  }
  .mrXl2 {
    margin-right: 0.5rem !important;
  }
  .mrXl3 {
    margin-right: 1rem !important;
  }
  .mrXl4 {
    margin-right: 1.5rem !important;
  }
  .mrXl5 {
    margin-right: 3rem !important;
  }
  .mrXlAuto {
    margin-right: auto !important;
  }
}
