.pb0 {
  padding-bottom: 0 !important;
}

.pb1 {
  padding-bottom: 0.25rem !important;
}

.pb2 {
  padding-bottom: 0.5rem !important;
}

.pb3 {
  padding-bottom: 1rem !important;
}

.pb4 {
  padding-bottom: 1.5rem !important;
}

.pb5 {
  padding-bottom: 3rem !important;
}

@media (min-width: 576px) {
  .pbSm0 {
    padding-bottom: 0 !important;
  }
  .pbSm1 {
    padding-bottom: 0.25rem !important;
  }
  .pbSm2 {
    padding-bottom: 0.5rem !important;
  }
  .pbSm3 {
    padding-bottom: 1rem !important;
  }
  .pbSm4 {
    padding-bottom: 1.5rem !important;
  }
  .pbSm5 {
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 768px) {
  .pbMd0 {
    padding-bottom: 0 !important;
  }
  .pbMd1 {
    padding-bottom: 0.25rem !important;
  }
  .pbMd2 {
    padding-bottom: 0.5rem !important;
  }
  .pbMd3 {
    padding-bottom: 1rem !important;
  }
  .pbMd4 {
    padding-bottom: 1.5rem !important;
  }
  .pbMd5 {
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 992px) {
  .pbLg0 {
    padding-bottom: 0 !important;
  }
  .pbLg1 {
    padding-bottom: 0.25rem !important;
  }
  .pbLg2 {
    padding-bottom: 0.5rem !important;
  }
  .pbLg3 {
    padding-bottom: 1rem !important;
  }
  .pbLg4 {
    padding-bottom: 1.5rem !important;
  }
  .pbLg5 {
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .pbXl0 {
    padding-bottom: 0 !important;
  }
  .pbXl1 {
    padding-bottom: 0.25rem !important;
  }
  .pbXl2 {
    padding-bottom: 0.5rem !important;
  }
  .pbXl3 {
    padding-bottom: 1rem !important;
  }
  .pbXl4 {
    padding-bottom: 1.5rem !important;
  }
  .pbXl5 {
    padding-bottom: 3rem !important;
  }
}
