.pull0 {
  right: auto;
}

.pull1 {
  right: 8.33333%;
}

.pull2 {
  right: 16.66667%;
}

.pull3 {
  right: 25%;
}

.pull4 {
  right: 33.33333%;
}

.pull5 {
  right: 41.66667%;
}

.pull6 {
  right: 50%;
}

.pull7 {
  right: 58.33333%;
}

.pull8 {
  right: 66.66667%;
}

.pull9 {
  right: 75%;
}

.pull10 {
  right: 83.33333%;
}

.pull11 {
  right: 91.66667%;
}

.pull12 {
  right: 100%;
}

.pullSm0 {
  right: auto;
}

.pullSm1 {
  right: 8.33333%;
}

.pullSm2 {
  right: 16.66667%;
}

.pullSm3 {
  right: 25%;
}

.pullSm4 {
  right: 33.33333%;
}

.pullSm5 {
  right: 41.66667%;
}

.pullSm6 {
  right: 50%;
}

.pullSm7 {
  right: 58.33333%;
}

.pullSm8 {
  right: 66.66667%;
}

.pullSm9 {
  right: 75%;
}

.pullSm10 {
  right: 83.33333%;
}

.pullSm11 {
  right: 91.66667%;
}

.pullSm12 {
  right: 100%;
}

.pullMd0 {
  right: auto;
}

.pullMd1 {
  right: 8.33333%;
}

.pullMd2 {
  right: 16.66667%;
}

.pullMd3 {
  right: 25%;
}

.pullMd4 {
  right: 33.33333%;
}

.pullMd5 {
  right: 41.66667%;
}

.pullMd6 {
  right: 50%;
}

.pullMd7 {
  right: 58.33333%;
}

.pullMd8 {
  right: 66.66667%;
}

.pullMd9 {
  right: 75%;
}

.pullMd10 {
  right: 83.33333%;
}

.pullMd11 {
  right: 91.66667%;
}

.pullMd12 {
  right: 100%;
}

.pullLg0 {
  right: auto;
}

.pullLg1 {
  right: 8.33333%;
}

.pullLg2 {
  right: 16.66667%;
}

.pullLg3 {
  right: 25%;
}

.pullLg4 {
  right: 33.33333%;
}

.pullLg5 {
  right: 41.66667%;
}

.pullLg6 {
  right: 50%;
}

.pullLg7 {
  right: 58.33333%;
}

.pullLg8 {
  right: 66.66667%;
}

.pullLg9 {
  right: 75%;
}

.pullLg10 {
  right: 83.33333%;
}

.pullLg11 {
  right: 91.66667%;
}

.pullLg12 {
  right: 100%;
}

.pullXl0 {
  right: auto;
}

.pullXl1 {
  right: 8.33333%;
}

.pullXl2 {
  right: 16.66667%;
}

.pullXl3 {
  right: 25%;
}

.pullXl4 {
  right: 33.33333%;
}

.pullXl5 {
  right: 41.66667%;
}

.pullXl6 {
  right: 50%;
}

.pullXl7 {
  right: 58.33333%;
}

.pullXl8 {
  right: 66.66667%;
}

.pullXl9 {
  right: 75%;
}

.pullXl10 {
  right: 83.33333%;
}

.pullXl11 {
  right: 91.66667%;
}

.pullXl12 {
  right: 100%;
}
