.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}

.noGutters {
  margin-right: 0;
  margin-left: 0;
}

.noGutters > .col,
.noGutters > [class*="col"] {
  padding-right: 0;
  padding-left: 0;
}
