.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.table tbody + tbody {
  border-top: 2px solid #eceeef;
}

.table .table {
  background-color: #fff;
}

.tableSm th,
.tableSm td {
  padding: 0.3rem;
}

.tableBordered {
  border: 1px solid #eceeef;
}

.tableBordered th,
.tableBordered td {
  border: 1px solid #eceeef;
}

.tableBordered thead th,
.tableBordered thead td {
  border-bottom-width: 2px;
}

.tableStriped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.tableHover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.tableActive,
.tableActive > th,
.tableActive > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.tableHover .tableActive:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.tableHover .tableActive:hover > td,
.tableHover .tableActive:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.tableSuccess,
.tableSuccess > th,
.tableSuccess > td {
  background-color: #dff0d8;
}

.tableHover .tableSuccess:hover {
  background-color: #d0e9c6;
}

.tableHover .tableSuccess:hover > td,
.tableHover .tableSuccess:hover > th {
  background-color: #d0e9c6;
}

.tableInfo,
.tableInfo > th,
.tableInfo > td {
  background-color: #d9edf7;
}

.tableHover .tableInfo:hover {
  background-color: #c4e3f3;
}

.tableHover .tableInfo:hover > td,
.tableHover .tableInfo:hover > th {
  background-color: #c4e3f3;
}

.tableWarning,
.tableWarning > th,
.tableWarning > td {
  background-color: #fcf8e3;
}

.tableHover .tableWarning:hover {
  background-color: #faf2cc;
}

.tableHover .tableWarning:hover > td,
.tableHover .tableWarning:hover > th {
  background-color: #faf2cc;
}

.tableDanger,
.tableDanger > th,
.tableDanger > td {
  background-color: #f2dede;
}

.tableHover .tableDanger:hover {
  background-color: #ebcccc;
}

.tableHover .tableDanger:hover > td,
.tableHover .tableDanger:hover > th {
  background-color: #ebcccc;
}

.theadInverse th {
  color: #fff;
  background-color: #292b2c;
}

.theadDefault th {
  color: #464a4c;
  background-color: #eceeef;
}

.tableInverse {
  color: #fff;
  background-color: #292b2c;
}

.tableInverse th,
.tableInverse td,
.tableInverse thead th {
  border-color: #fff;
}

.tableInverse.tableBordered {
  border: 0;
}

.tableResponsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.tableResponsive.tableBordered {
  border: 0;
}

@media print {
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .tableBordered th,
  .tableBordered td {
    border: 1px solid #ddd !important;
  }
}
