@import './variables.scss';
@import './mixins/_border-radius.scss';

//
// Border
//

.border        { border: $border-width solid $border-color !important; }
.border0       { border: 0 !important; }
.borderTop0    { border-top: 0 !important; }
.borderRight0  { border-right: 0 !important; }
.borderBottom0 { border-bottom: 0 !important; }
.borderLeft0   { border-left: 0 !important; }

@each $color, $value in $theme-colors {
  .border#{$color} {
    border-color: $value !important;
  }
}

.borderWhite {
  border-color: $white !important;
}

//
// Border-radius
//

.rounded {
  @include border-radius($border-radius);
}
.roundedTop {
  @include border-top-radius($border-radius);
}
.roundedRight {
  @include border-right-radius($border-radius);
}
.roundedBottom {
  @include border-bottom-radius($border-radius);
}
.roundedLeft {
  @include border-left-radius($border-radius);
}

.roundedCircle {
  border-radius: 50%;
}

.rounded0 {
  border-radius: 0;
}
