// List Groups

@mixin list-group-item-variant($state, $background, $color) {
  .listGroupItem#{$state} {
    color: $color;
    background-color: $background;
  }

  a.listGroupItem#{$state},
  button.listGroupItem#{$state} {
    color: $color;

    .listGroupItemHeading {
      color: inherit;
    }

    @include hover-focus {
      color: $color;
      background-color: darken($background, 5%);
    }

    &.active {
      color: #fff;
      background-color: $color;
      border-color: $color;
    }
  }
}
