.w25 {
  width: 25% !important;
}

.w50 {
  width: 50% !important;
}

.w75 {
  width: 75% !important;
}

.w100 {
  width: 100% !important;
}

.h25 {
  height: 25% !important;
}

.h50 {
  height: 50% !important;
}

.h75 {
  height: 75% !important;
}

.h100 {
  height: 100% !important;
}

.mw100 {
  max-width: 100% !important;
}

.mh100 {
  max-height: 100% !important;
}
