.navbarCustom {
  composes: navbar navbarInverse navbarToggleableXl from '../../../components/navbar.css';
  composes: bgInverse from '../../../utilities/background.css';
  box-shadow: 0 8px 6px -6px black;
}
