.floatLeft {
  float: left !important;
}

.floatRight {
  float: right !important;
}

.floatNone {
  float: none !important;
}

@media (min-width: 576px) {
  .floatSmLeft {
    float: left !important;
  }

  .floatSmRight {
    float: right !important;
  }

  .floatSmNone {
    float: none !important;
  }
}

@media (min-width: 768px) {
  .floatMdLeft {
    float: left !important;
  }

  .floatMdRight {
    float: right !important;
  }

  .floatMdNone {
    float: none !important;
  }
}

@media (min-width: 992px) {
  .floatLgLeft {
    float: left !important;
  }

  .floatLgRight {
    float: right !important;
  }

  .floatLgNone {
    float: none !important;
  }
}

@media (min-width: 1200px) {
  .floatXlLeft {
    float: left !important;
  }

  .floatXlRight {
    float: right !important;
  }

  .floatXlNone {
    float: none !important;
  }
}
