.flexFirst {
  order: -1;
}

.flexLast {
  order: 1;
}

.flexUnordered {
  order: 0;
}

.flexRow {
  flex-direction: row !important;
}

.flexColumn {
  flex-direction: column !important;
}

.flexRowReverse {
  flex-direction: row-reverse !important;
}

.flexColumnReverse {
  flex-direction: column-reverse !important;
}

.flexWrap {
  flex-wrap: wrap !important;
}

.flexNowrap {
  flex-wrap: nowrap !important;
}

.flexWrapReverse {
  flex-wrap: wrap-reverse !important;
}

@media (min-width: 576px) {
  .flexSmFirst {
    order: -1;
  }
  .flexSmLast {
    order: 1;
  }
  .flexSmUnordered {
    order: 0;
  }
  .flexSmRow {
    flex-direction: row !important;
  }
  .flexSmColumn {
    flex-direction: column !important;
  }
  .flexSmRowReverse {
    flex-direction: row-reverse !important;
  }
  .flexSmColumnReverse {
    flex-direction: column-reverse !important;
  }
  .flexSmWrap {
    flex-wrap: wrap !important;
  }
  .flexSmNowrap {
    flex-wrap: nowrap !important;
  }
  .flexSmWrapReverse {
    flex-wrap: wrap-reverse !important;
  }
}

@media (min-width: 768px) {
  .flexMdFirst {
    order: -1;
  }
  .flexMdLast {
    order: 1;
  }
  .flexMdUnordered {
    order: 0;
  }
  .flexMdRow {
    flex-direction: row !important;
  }
  .flexMdColumn {
    flex-direction: column !important;
  }
  .flexMdRowReverse {
    flex-direction: row-reverse !important;
  }
  .flexMdColumnReverse {
    flex-direction: column-reverse !important;
  }
  .flexMdWrap {
    flex-wrap: wrap !important;
  }
  .flexMdNowrap {
    flex-wrap: nowrap !important;
  }
  .flexMdWrapReverse {
    flex-wrap: wrap-reverse !important;
  }
}

@media (min-width: 992px) {
  .flexLgFirst {
    order: -1;
  }
  .flexLgLast {
    order: 1;
  }
  .flexLgUnordered {
    order: 0;
  }
  .flexLgRow {
    flex-direction: row !important;
  }
  .flexLgColumn {
    flex-direction: column !important;
  }
  .flexLgRowReverse {
    flex-direction: row-reverse !important;
  }
  .flexLgColumnReverse {
    flex-direction: column-reverse !important;
  }
  .flexLgWrap {
    flex-wrap: wrap !important;
  }
  .flexLgNowrap {
    flex-wrap: nowrap !important;
  }
  .flexLgWrapReverse {
    flex-wrap: wrap-reverse !important;
  }
}

@media (min-width: 1200px) {
  .flexXlFirst {
    order: -1;
  }
  .flexXlLast {
    order: 1;
  }
  .flexXlUnordered {
    order: 0;
  }
  .flexXlRow {
    flex-direction: row !important;
  }
  .flexXlColumn {
    flex-direction: column !important;
  }
  .flexXlRowReverse {
    flex-direction: row-reverse !important;
  }
  .flexXlColumnReverse {
    flex-direction: column-reverse !important;
  }
  .flexXlWrap {
    flex-wrap: wrap !important;
  }
  .flexXlNowrap {
    flex-wrap: nowrap !important;
  }
  .flexXlWrapReverse {
    flex-wrap: wrap-reverse !important;
  }
}
