.mb0 {
  margin-bottom: 0 !important;
}

.mb1 {
  margin-bottom: 0.25rem !important;
}

.mb2 {
  margin-bottom: 0.5rem !important;
}

.mb3 {
  margin-bottom: 1rem !important;
}

.mb4 {
  margin-bottom: 1.5rem !important;
}

.mb5 {
  margin-bottom: 3rem !important;
}

.mbAuto {
  margin-bottom: auto !important;
}

@media (min-width: 576px) {
  .mbSm0 {
    margin-bottom: 0 !important;
  }
  .mbSm1 {
    margin-bottom: 0.25rem !important;
  }
  .mbSm2 {
    margin-bottom: 0.5rem !important;
  }
  .mbSm3 {
    margin-bottom: 1rem !important;
  }
  .mbSm4 {
    margin-bottom: 1.5rem !important;
  }
  .mbSm5 {
    margin-bottom: 3rem !important;
  }
  .mbSmAuto {
    margin-bottom: auto !important;
  }
}

@media (min-width: 768px) {
  .mbMd0 {
    margin-bottom: 0 !important;
  }
  .mbMd1 {
    margin-bottom: 0.25rem !important;
  }
  .mbMd2 {
    margin-bottom: 0.5rem !important;
  }
  .mbMd3 {
    margin-bottom: 1rem !important;
  }
  .mbMd4 {
    margin-bottom: 1.5rem !important;
  }
  .mbMd5 {
    margin-bottom: 3rem !important;
  }
  .mbMdAuto {
    margin-bottom: auto !important;
  }
}

@media (min-width: 992px) {
  .mbLg0 {
    margin-bottom: 0 !important;
  }
  .mbLg1 {
    margin-bottom: 0.25rem !important;
  }
  .mbLg2 {
    margin-bottom: 0.5rem !important;
  }
  .mbLg3 {
    margin-bottom: 1rem !important;
  }
  .mbLg4 {
    margin-bottom: 1.5rem !important;
  }
  .mbLg5 {
    margin-bottom: 3rem !important;
  }
  .mbLgAuto {
    margin-bottom: auto !important;
  }
}

@media (min-width: 1200px) {
  .mbXl0 {
    margin-bottom: 0 !important;
  }
  .mbXl1 {
    margin-bottom: 0.25rem !important;
  }
  .mbXl2 {
    margin-bottom: 0.5rem !important;
  }
  .mbXl3 {
    margin-bottom: 1rem !important;
  }
  .mbXl4 {
    margin-bottom: 1.5rem !important;
  }
  .mbXl5 {
    margin-bottom: 3rem !important;
  }
  .mbXlAuto {
    margin-bottom: auto !important;
  }
}
