.pt0 {
  padding-top: 0 !important;
}

.pt1 {
  padding-top: 0.25rem !important;
}

.pt2 {
  padding-top: 0.5rem !important;
}

.pt3 {
  padding-top: 1rem !important;
}

.pt4 {
  padding-top: 1.5rem !important;
}

.pt5 {
  padding-top: 3rem !important;
}

@media (min-width: 576px) {
  .ptSm0 {
    padding-top: 0 !important;
  }
  .ptSm1 {
    padding-top: 0.25rem !important;
  }
  .ptSm2 {
    padding-top: 0.5rem !important;
  }
  .ptSm3 {
    padding-top: 1rem !important;
  }
  .ptSm4 {
    padding-top: 1.5rem !important;
  }
  .ptSm5 {
    padding-top: 3rem !important;
  }
}

@media (min-width: 768px) {
  .ptMd0 {
    padding-top: 0 !important;
  }
  .ptMd1 {
    padding-top: 0.25rem !important;
  }
  .ptMd2 {
    padding-top: 0.5rem !important;
  }
  .ptMd3 {
    padding-top: 1rem !important;
  }
  .ptMd4 {
    padding-top: 1.5rem !important;
  }
  .ptMd5 {
    padding-top: 3rem !important;
  }
}

@media (min-width: 992px) {
  .ptLg0 {
    padding-top: 0 !important;
  }
  .ptLg1 {
    padding-top: 0.25rem !important;
  }
  .ptLg2 {
    padding-top: 0.5rem !important;
  }
  .ptLg3 {
    padding-top: 1rem !important;
  }
  .ptLg4 {
    padding-top: 1.5rem !important;
  }
  .ptLg5 {
    padding-top: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .ptXl0 {
    padding-top: 0 !important;
  }
  .ptXl1 {
    padding-top: 0.25rem !important;
  }
  .ptXl2 {
    padding-top: 0.5rem !important;
  }
  .ptXl3 {
    padding-top: 1rem !important;
  }
  .ptXl4 {
    padding-top: 1.5rem !important;
  }
  .ptXl5 {
    padding-top: 3rem !important;
  }
}
