.p0 {
  padding: 0 0 !important;
}

.p1 {
  padding: 0.25rem 0.25rem !important;
}

.p2 {
  padding: 0.5rem 0.5rem !important;
}

.p3 {
  padding: 1rem 1rem !important;
}

.p4 {
  padding: 1.5rem 1.5rem !important;
}

.p5 {
  padding: 3rem 3rem !important;
}

@media (min-width: 576px) {
  .pSm0 {
    padding: 0 0 !important;
  }
  .pSm1 {
    padding: 0.25rem 0.25rem !important;
  }
  .pSm2 {
    padding: 0.5rem 0.5rem !important;
  }
  .pSm3 {
    padding: 1rem 1rem !important;
  }
  .pSm4 {
    padding: 1.5rem 1.5rem !important;
  }
  .pSm5 {
    padding: 3rem 3rem !important;
  }
}

@media (min-width: 768px) {
  .pMd0 {
    padding: 0 0 !important;
  }
  .pMd1 {
    padding: 0.25rem 0.25rem !important;
  }
  .pMd2 {
    padding: 0.5rem 0.5rem !important;
  }
  .pMd3 {
    padding: 1rem 1rem !important;
  }
  .pMd4 {
    padding: 1.5rem 1.5rem !important;
  }
  .pMd5 {
    padding: 3rem 3rem !important;
  }
}

@media (min-width: 992px) {
  .pLg0 {
    padding: 0 0 !important;
  }
  .pLg1 {
    padding: 0.25rem 0.25rem !important;
  }
  .pLg2 {
    padding: 0.5rem 0.5rem !important;
  }
  .pLg3 {
    padding: 1rem 1rem !important;
  }
  .pLg4 {
    padding: 1.5rem 1.5rem !important;
  }
  .pLg5 {
    padding: 3rem 3rem !important;
  }
}

@media (min-width: 1200px) {
  .pXl0 {
    padding: 0 0 !important;
  }
  .pXl1 {
    padding: 0.25rem 0.25rem !important;
  }
  .pXl2 {
    padding: 0.5rem 0.5rem !important;
  }
  .pXl3 {
    padding: 1rem 1rem !important;
  }
  .pXl4 {
    padding: 1.5rem 1.5rem !important;
  }
  .pXl5 {
    padding: 3rem 3rem !important;
  }
}
