.px0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

@media (min-width: 576px) {
  .pxSm0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .pxSm1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }
  .pxSm2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .pxSm3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .pxSm4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .pxSm5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}

@media (min-width: 768px) {
  .pxMd0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .pxMd1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }
  .pxMd2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .pxMd3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .pxMd4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .pxMd5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}

@media (min-width: 992px) {
  .pxLg0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .pxLg1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }
  .pxLg2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .pxLg3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .pxLg4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .pxLg5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .pxXl0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .pxXl1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }
  .pxXl2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .pxXl3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .pxXl4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .pxXl5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}
