.textJustify {
  text-align: justify !important;
}

.textNowrap {
  white-space: nowrap !important;
}

.textTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textLeft {
  text-align: left !important;
}

.textRight {
  text-align: right !important;
}

.textCenter {
  text-align: center !important;
}

@media (min-width: 576px) {
  .textSmLeft {
    text-align: left !important;
  }

  .textSmRight {
    text-align: right !important;
  }

  .textSmCenter {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .textMdLeft {
    text-align: left !important;
  }

  .textMdRight {
    text-align: right !important;
  }

  .textMdCenter {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .textLgLeft {
    text-align: left !important;
  }

  .textLgRight {
    text-align: right !important;
  }

  .textLgCenter {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .textXlLeft {
    text-align: left !important;
  }

  .textXlRight {
    text-align: right !important;
  }

  .textXlCenter {
    text-align: center !important;
  }
}

.textLowercase {
  text-transform: lowercase !important;
}

.textUppercase {
  text-transform: uppercase !important;
}

.textCapitalize {
  text-transform: capitalize !important;
}

.fontWeightNormal {
  font-weight: normal;
}

.fontWeightBold {
  font-weight: bold;
}

.fontItalic {
  font-style: italic;
}

.textWhite {
  color: #fff !important;
}

.textMuted {
  color: #636c72 !important;
}

a.textMuted:focus,
a.textMuted:hover {
  color: #4b5257 !important;
}

.textPrimary {
  color: #0275d8 !important;
}

a.textPrimary:focus,
a.textPrimary:hover {
  color: #025aa5 !important;
}

.textSuccess {
  color: #5cb85c !important;
}

a.textSuccess:focus,
a.textSuccess:hover {
  color: #449d44 !important;
}

.textInfo {
  color: #5bc0de !important;
}

a.textInfo:focus,
a.textInfo:hover {
  color: #31b0d5 !important;
}

.textWarning {
  color: #f0ad4e !important;
}

a.textWarning:focus,
a.textWarning:hover {
  color: #ec971f !important;
}

.textDanger {
  color: #d9534f !important;
}

a.textDanger:focus,
a.textDanger:hover {
  color: #c9302c !important;
}

.textGrayDark {
  color: #292b2c !important;
}

a.textGrayDark:focus,
a.textGrayDark:hover {
  color: #101112 !important;
}

.textHide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
