.offset1 {
  margin-left: 8.33333%;
}

.offset2 {
  margin-left: 16.66667%;
}

.offset3 {
  margin-left: 25%;
}

.offset4 {
  margin-left: 33.33333%;
}

.offset5 {
  margin-left: 41.66667%;
}

.offset6 {
  margin-left: 50%;
}

.offset7 {
  margin-left: 58.33333%;
}

.offset8 {
  margin-left: 66.66667%;
}

.offset9 {
  margin-left: 75%;
}

.offset10 {
  margin-left: 83.33333%;
}

.offset11 {
  margin-left: 91.66667%;
}

.offsetSm0 {
  margin-left: 0%;
}

.offsetSm1 {
  margin-left: 8.33333%;
}

.offsetSm2 {
  margin-left: 16.66667%;
}

.offsetSm3 {
  margin-left: 25%;
}

.offsetSm4 {
  margin-left: 33.33333%;
}

.offsetSm5 {
  margin-left: 41.66667%;
}

.offsetSm6 {
  margin-left: 50%;
}

.offsetSm7 {
  margin-left: 58.33333%;
}

.offsetSm8 {
  margin-left: 66.66667%;
}

.offsetSm9 {
  margin-left: 75%;
}

.offsetSm10 {
  margin-left: 83.33333%;
}

.offsetSm11 {
  margin-left: 91.66667%;
}

.offsetMd0 {
  margin-left: 0%;
}

.offsetMd1 {
  margin-left: 8.33333%;
}

.offsetMd2 {
  margin-left: 16.66667%;
}

.offsetMd3 {
  margin-left: 25%;
}

.offsetMd4 {
  margin-left: 33.33333%;
}

.offsetMd5 {
  margin-left: 41.66667%;
}

.offsetMd6 {
  margin-left: 50%;
}

.offsetMd7 {
  margin-left: 58.33333%;
}

.offsetMd8 {
  margin-left: 66.66667%;
}

.offsetMd9 {
  margin-left: 75%;
}

.offsetMd10 {
  margin-left: 83.33333%;
}

.offsetMd11 {
  margin-left: 91.66667%;
}

.offsetLg0 {
  margin-left: 0%;
}

.offsetLg1 {
  margin-left: 8.33333%;
}

.offsetLg2 {
  margin-left: 16.66667%;
}

.offsetLg3 {
  margin-left: 25%;
}

.offsetLg4 {
  margin-left: 33.33333%;
}

.offsetLg5 {
  margin-left: 41.66667%;
}

.offsetLg6 {
  margin-left: 50%;
}

.offsetLg7 {
  margin-left: 58.33333%;
}

.offsetLg8 {
  margin-left: 66.66667%;
}

.offsetLg9 {
  margin-left: 75%;
}

.offsetLg10 {
  margin-left: 83.33333%;
}

.offsetLg11 {
  margin-left: 91.66667%;
}

.offsetXl0 {
  margin-left: 0%;
}

.offsetXl1 {
  margin-left: 8.33333%;
}

.offsetXl2 {
  margin-left: 16.66667%;
}

.offsetXl3 {
  margin-left: 25%;
}

.offsetXl4 {
  margin-left: 33.33333%;
}

.offsetXl5 {
  margin-left: 41.66667%;
}

.offsetXl6 {
  margin-left: 50%;
}

.offsetXl7 {
  margin-left: 58.33333%;
}

.offsetXl8 {
  margin-left: 66.66667%;
}

.offsetXl9 {
  margin-left: 75%;
}

.offsetXl10 {
  margin-left: 83.33333%;
}

.offsetXl11 {
  margin-left: 91.66667%;
}
