.push0 {
  left: auto;
}

.push1 {
  left: 8.33333%;
}

.push2 {
  left: 16.66667%;
}

.push3 {
  left: 25%;
}

.push4 {
  left: 33.33333%;
}

.push5 {
  left: 41.66667%;
}

.push6 {
  left: 50%;
}

.push7 {
  left: 58.33333%;
}

.push8 {
  left: 66.66667%;
}

.push9 {
  left: 75%;
}

.push10 {
  left: 83.33333%;
}

.push11 {
  left: 91.66667%;
}

.push12 {
  left: 100%;
}

.pushSm0 {
  left: auto;
}

.pushSm1 {
  left: 8.33333%;
}

.pushSm2 {
  left: 16.66667%;
}

.pushSm3 {
  left: 25%;
}

.pushSm4 {
  left: 33.33333%;
}

.pushSm5 {
  left: 41.66667%;
}

.pushSm6 {
  left: 50%;
}

.pushSm7 {
  left: 58.33333%;
}

.pushSm8 {
  left: 66.66667%;
}

.pushSm9 {
  left: 75%;
}

.pushSm10 {
  left: 83.33333%;
}

.pushSm11 {
  left: 91.66667%;
}

.pushSm12 {
  left: 100%;
}

.pushMd0 {
  left: auto;
}

.pushMd1 {
  left: 8.33333%;
}

.pushMd2 {
  left: 16.66667%;
}

.pushMd3 {
  left: 25%;
}

.pushMd4 {
  left: 33.33333%;
}

.pushMd5 {
  left: 41.66667%;
}

.pushMd6 {
  left: 50%;
}

.pushMd7 {
  left: 58.33333%;
}

.pushMd8 {
  left: 66.66667%;
}

.pushMd9 {
  left: 75%;
}

.pushMd10 {
  left: 83.33333%;
}

.pushMd11 {
  left: 91.66667%;
}

.pushMd12 {
  left: 100%;
}

.pushLg0 {
  left: auto;
}

.pushLg1 {
  left: 8.33333%;
}

.pushLg2 {
  left: 16.66667%;
}

.pushLg3 {
  left: 25%;
}

.pushLg4 {
  left: 33.33333%;
}

.pushLg5 {
  left: 41.66667%;
}

.pushLg6 {
  left: 50%;
}

.pushLg7 {
  left: 58.33333%;
}

.pushLg8 {
  left: 66.66667%;
}

.pushLg9 {
  left: 75%;
}

.pushLg10 {
  left: 83.33333%;
}

.pushLg11 {
  left: 91.66667%;
}

.pushLg12 {
  left: 100%;
}

.pushXl0 {
  left: auto;
}

.pushXl1 {
  left: 8.33333%;
}

.pushXl2 {
  left: 16.66667%;
}

.pushXl3 {
  left: 25%;
}

.pushXl4 {
  left: 33.33333%;
}

.pushXl5 {
  left: 41.66667%;
}

.pushXl6 {
  left: 50%;
}

.pushXl7 {
  left: 58.33333%;
}

.pushXl8 {
  left: 66.66667%;
}

.pushXl9 {
  left: 75%;
}

.pushXl10 {
  left: 83.33333%;
}

.pushXl11 {
  left: 91.66667%;
}

.pushXl12 {
  left: 100%;
}
