.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btnPrimary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btnPrimary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btnPrimary:focus, .btnPrimary.focus {
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btnPrimary.disabled, .btnPrimary:disabled {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btnPrimary:active, .btnPrimary.active {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}

.btnSecondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btnSecondary:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btnSecondary:focus, .btnSecondary.focus {
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btnSecondary.disabled, .btnSecondary:disabled {
  background-color: #fff;
  border-color: #ccc;
}

.btnSecondary:active, .btnSecondary.active {
  color: #292b2c;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
}

.btnInfo {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btnInfo:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #2aabd2;
}

.btnInfo:focus, .btnInfo.focus {
  box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btnInfo.disabled, .btnInfo:disabled {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btnInfo:active, .btnInfo.active {
  color: #fff;
  background-color: #31b0d5;
  background-image: none;
  border-color: #2aabd2;
}

.btnSuccess {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btnSuccess:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}

.btnSuccess:focus, .btnSuccess.focus {
  box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btnSuccess.disabled, .btnSuccess:disabled {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btnSuccess:active, .btnSuccess.active {
  color: #fff;
  background-color: #449d44;
  background-image: none;
  border-color: #419641;
}

.btnWarning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btnWarning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #eb9316;
}

.btnWarning:focus, .btnWarning.focus {
  box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btnWarning.disabled, .btnWarning:disabled {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btnWarning:active, .btnWarning.active {
  color: #fff;
  background-color: #ec971f;
  background-image: none;
  border-color: #eb9316;
}

.btnDanger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btnDanger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
}

.btnDanger:focus, .btnDanger.focus {
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btnDanger.disabled, .btnDanger:disabled {
  background-color: #d9534f;
  border-color: #d9534f;
}

.btnDanger:active, .btnDanger.active {
  color: #fff;
  background-color: #c9302c;
  background-image: none;
  border-color: #c12e2a;
}

.btnOutlinePrimary {
  color: #0275d8;
  background-image: none;
  background-color: transparent;
  border-color: #0275d8;
}

.btnOutlinePrimary:hover {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btnOutlinePrimary:focus, .btnOutlinePrimary.focus {
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btnOutlinePrimary.disabled, .btnOutlinePrimary:disabled {
  color: #0275d8;
  background-color: transparent;
}

.btnOutlinePrimary:active, .btnOutlinePrimary.active {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btnOutlineSecondary {
  color: #ccc;
  background-image: none;
  background-color: transparent;
  border-color: #ccc;
}

.btnOutlineSecondary:hover {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.btnOutlineSecondary:focus, .btnOutlineSecondary.focus {
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btnOutlineSecondary.disabled, .btnOutlineSecondary:disabled {
  color: #ccc;
  background-color: transparent;
}

.btnOutlineSecondary:active, .btnOutlineSecondary.active {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.btnOutlineInfo {
  color: #5bc0de;
  background-image: none;
  background-color: transparent;
  border-color: #5bc0de;
}

.btnOutlineInfo:hover {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btnOutlineInfo:focus, .btnOutlineInfo.focus {
  box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btnOutlineInfo.disabled, .btnOutlineInfo:disabled {
  color: #5bc0de;
  background-color: transparent;
}

.btnOutlineInfo:active, .btnOutlineInfo.active {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btnOutlineSuccess {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}

.btnOutlineSuccess:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btnOutlineSuccess:focus, .btnOutlineSuccess.focus {
  box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btnOutlineSuccess.disabled, .btnOutlineSuccess:disabled {
  color: #5cb85c;
  background-color: transparent;
}

.btnOutlineSuccess:active, .btnOutlineSuccess.active {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btnOutlineWarning {
  color: #f0ad4e;
  background-image: none;
  background-color: transparent;
  border-color: #f0ad4e;
}

.btnOutlineWarning:hover {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btnOutlineWarning:focus, .btnOutlineWarning.focus {
  box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btnOutlineWarning.disabled, .btnOutlineWarning:disabled {
  color: #f0ad4e;
  background-color: transparent;
}

.btnOutlineWarning:active, .btnOutlineWarning.active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btnOutlineDanger {
  color: #d9534f;
  background-image: none;
  background-color: transparent;
  border-color: #d9534f;
}

.btnOutlineDanger:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btnOutlineDanger:focus, .btnOutlineDanger.focus {
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btnOutlineDanger.disabled, .btnOutlineDanger:disabled {
  color: #d9534f;
  background-color: transparent;
}

.btnOutlineDanger:active, .btnOutlineDanger.active {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btnLink {
  font-weight: normal;
  color: #0275d8;
  border-radius: 0;
}

.btnLink, .btnLink:active, .btnLink.active, .btnLink:disabled {
  background-color: transparent;
}

.btnLink, .btnLink:focus, .btnLink:active {
  border-color: transparent;
}

.btnLink:hover {
  border-color: transparent;
}

.btnLink:focus, .btnLink:hover {
  color: #014c8c;
  text-decoration: underline;
  background-color: transparent;
}

.btnLink:disabled {
  color: #636c72;
}

.btnLink:disabled:focus, .btnLink:disabled:hover {
  text-decoration: none;
}

.btnLg, .btnGroupLg > .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btnSm, .btnGroupSm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btnBlock {
  display: block;
  width: 100%;
}

.btnBlock + .btnBlock {
  margin-top: 0.5rem;
}

input[type="submit"].btnBlock,
input[type="reset"].btnBlock,
input[type="button"].btnBlock {
  width: 100%;
}

.btnGroup,
.btnGroupVertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btnGroup > .btn,
.btnGroupVertical > .btn {
  position: relative;
  flex: 0 1 auto;
}

.btnGroup > .btn:hover,
.btnGroupVertical > .btn:hover {
  z-index: 2;
}

.btnGroup > .btn:focus, .btnGroup > .btn:active, .btnGroup > .btn.active,
.btnGroupVertical > .btn:focus,
.btnGroupVertical > .btn:active,
.btnGroupVertical > .btn.active {
  z-index: 2;
}

.btnGroup .btn + .btn,
.btnGroup .btn + .btnGroup,
.btnGroup .btnGroup + .btn,
.btnGroup .btnGroup + .btnGroup,
.btnGroupVertical .btn + .btn,
.btnGroupVertical .btn + .btnGroup,
.btnGroupVertical .btnGroup + .btn,
.btnGroupVertical .btnGroup + .btnGroup {
  margin-left: -1px;
}

.btnToolbar {
  display: flex;
  justify-content: flex-start;
}

.btnToolbar .inputGroup {
  width: auto;
}

.btnGroup > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btnGroup > .btn:first-child {
  margin-left: 0;
}

.btnGroup > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btnGroup > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btnGroup > .btnGroup {
  float: left;
}

.btnGroup > .btnGroup:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btnGroup > .btnGroup:first-child:not(:last-child) > .btn:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btnGroup > .btnGroup:last-child:not(:first-child) > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btnGroupVertical {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.btnGroupVertical .btn,
.btnGroupVertical .btnGroup {
  width: 100%;
}

.btnGroupVertical > .btn + .btn,
.btnGroupVertical > .btn + .btnGroup,
.btnGroupVertical > .btnGroup + .btn,
.btnGroupVertical > .btnGroup + .btnGroup {
  margin-top: -1px;
  margin-left: 0;
}

.btnGroupVertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btnGroupVertical > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btnGroupVertical > .btn:last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.btnGroupVertical > .btnGroup:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btnGroupVertical > .btnGroup:first-child:not(:last-child) > .btn:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btnGroupVertical > .btnGroup:last-child:not(:first-child) > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btnGroup > .btn input[type="radio"],
[data-toggle="buttons"] > .btnGroup > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
