.inputGroup {
  position: relative;
  display: flex;
  width: 100%;
}

.inputGroup .formControl {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.inputGroup .formControl:focus, .inputGroup .formControl:active, .inputGroup .formControl:hover {
  z-index: 3;
}

.inputGroupAddon,
.inputGroupBtn,
.inputGroup .formControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputGroupAddon:not(:first-child):not(:last-child),
.inputGroupBtn:not(:first-child):not(:last-child),
.inputGroup .formControl:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.inputGroupAddon,
.inputGroupBtn {
  white-space: nowrap;
  vertical-align: middle;
}

.inputGroupAddon {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: #464a4c;
  text-align: center;
  background-color: #eceeef;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.inputGroupAddon.formControlSm,
.inputGroupSm > .inputGroupAddon,
.inputGroupSm > .inputGroupBtn > .inputGroupAddon.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.inputGroupAddon.formControlLg,
.inputGroupLg > .inputGroupAddon,
.inputGroupLg > .inputGroupBtn > .inputGroupAddon.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.inputGroupAddon input[type="radio"],
.inputGroupAddon input[type="checkbox"] {
  margin-top: 0;
}

.inputGroup .formControl:not(:last-child),
.inputGroupAddon:not(:last-child),
.inputGroupBtn:not(:last-child) > .btn,
.inputGroupBtn:not(:last-child) > .btnGroup > .btn,
.inputGroupBtn:not(:last-child) > .dropdownToggle,
.inputGroupBtn:not(:first-child) > .btn:not(:last-child):not(.dropdownToggle),
.inputGroupBtn:not(:first-child) > .btnGroup:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.inputGroupAddon:not(:last-child) {
  border-right: 0;
}

.inputGroup .formControl:not(:first-child),
.inputGroupAddon:not(:first-child),
.inputGroupBtn:not(:first-child) > .btn,
.inputGroupBtn:not(:first-child) > .btnGroup > .btn,
.inputGroupBtn:not(:first-child) > .dropdownToggle,
.inputGroupBtn:not(:last-child) > .btn:not(:first-child),
.inputGroupBtn:not(:last-child) > .btnGroup:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.formControl + .inputGroupAddon:not(:first-child) {
  border-left: 0;
}

.inputGroupBtn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.inputGroupBtn > .btn {
  position: relative;
  flex: 1;
}

.inputGroupBtn > .btn + .btn {
  margin-left: -1px;
}

.inputGroupBtn > .btn:focus, .inputGroupBtn > .btn:active, .inputGroupBtn > .btn:hover {
  z-index: 3;
}

.inputGroupBtn:not(:last-child) > .btn,
.inputGroupBtn:not(:last-child) > .btnGroup {
  margin-right: -1px;
}

.inputGroupBtn:not(:first-child) > .btn,
.inputGroupBtn:not(:first-child) > .btnGroup {
  z-index: 2;
  margin-left: -1px;
}

.inputGroupBtn:not(:first-child) > .btn:focus, .inputGroupBtn:not(:first-child) > .btn:active, .inputGroupBtn:not(:first-child) > .btn:hover,
.inputGroupBtn:not(:first-child) > .btnGroup:focus,
.inputGroupBtn:not(:first-child) > .btnGroup:active,
.inputGroupBtn:not(:first-child) > .btnGroup:hover {
  z-index: 3;
}
