.listGroup {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.listGroupItemAction {
  width: 100%;
  color: #464a4c;
  text-align: inherit;
}

.listGroupItemAction .listGroupItemHeading {
  color: #292b2c;
}

.listGroupItemAction:focus, .listGroupItemAction:hover {
  color: #464a4c;
  text-decoration: none;
  background-color: #f7f7f9;
}

.listGroupItemAction:active {
  color: #292b2c;
  background-color: #eceeef;
}

.listGroupItem {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.listGroupItem:first-child {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.listGroupItem:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.listGroupItem:focus, .listGroupItem:hover {
  text-decoration: none;
}

.listGroupItem.disabled, .listGroupItem:disabled {
  color: #636c72;
  cursor: not-allowed;
  background-color: #fff;
}

.listGroupItem.disabled .listGroupItemHeading, .listGroupItem:disabled .listGroupItemHeading {
  color: inherit;
}

.listGroupItem.disabled .listGroupItemText, .listGroupItem:disabled .listGroupItemText {
  color: #636c72;
}

.listGroupItem.active {
  z-index: 2;
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.listGroupItem.active .listGroupItemHeading,
.listGroupItem.active .listGroupItemHeading > small,
.listGroupItem.active .listGroupItemHeading > .small {
  color: inherit;
}

.listGroupItem.active .listGroupItemText {
  color: #daeeff;
}

.listGroupFlush .listGroupItem {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.listGroupFlush:first-child .listGroupItem:first-child {
  border-top: 0;
}

.listGroupFlush:last-child .listGroupItem:last-child {
  border-bottom: 0;
}

.listGroupItemSuccess {
  color: #3c763d;
  background-color: #dff0d8;
}

a.listGroupItemSuccess,
button.listGroupItemSuccess {
  color: #3c763d;
}

a.listGroupItemSuccess .listGroupItemHeading,
button.listGroupItemSuccess .listGroupItemHeading {
  color: inherit;
}

a.listGroupItemSuccess:focus, a.listGroupItemSuccess:hover,
button.listGroupItemSuccess:focus,
button.listGroupItemSuccess:hover {
  color: #3c763d;
  background-color: #d0e9c6;
}

a.listGroupItemSuccess.active,
button.listGroupItemSuccess.active {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}

.listGroupItemInfo {
  color: #31708f;
  background-color: #d9edf7;
}

a.listGroupItemInfo,
button.listGroupItemInfo {
  color: #31708f;
}

a.listGroupItemInfo .listGroupItemHeading,
button.listGroupItemInfo .listGroupItemHeading {
  color: inherit;
}

a.listGroupItemInfo:focus, a.listGroupItemInfo:hover,
button.listGroupItemInfo:focus,
button.listGroupItemInfo:hover {
  color: #31708f;
  background-color: #c4e3f3;
}

a.listGroupItemInfo.active,
button.listGroupItemInfo.active {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}

.listGroupItemWarning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

a.listGroupItemWarning,
button.listGroupItemWarning {
  color: #8a6d3b;
}

a.listGroupItemWarning .listGroupItemHeading,
button.listGroupItemWarning .listGroupItemHeading {
  color: inherit;
}

a.listGroupItemWarning:focus, a.listGroupItemWarning:hover,
button.listGroupItemWarning:focus,
button.listGroupItemWarning:hover {
  color: #8a6d3b;
  background-color: #faf2cc;
}

a.listGroupItemWarning.active,
button.listGroupItemWarning.active {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}

.listGroupItemDanger {
  color: #a94442;
  background-color: #f2dede;
}

a.listGroupItemDanger,
button.listGroupItemDanger {
  color: #a94442;
}

a.listGroupItemDanger .listGroupItemHeading,
button.listGroupItemDanger .listGroupItemHeading {
  color: inherit;
}

a.listGroupItemDanger:focus, a.listGroupItemDanger:hover,
button.listGroupItemDanger:focus,
button.listGroupItemDanger:hover {
  color: #a94442;
  background-color: #ebcccc;
}

a.listGroupItemDanger.active,
button.listGroupItemDanger.active {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}
