.modalOpen {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal.fade .modalDialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -25%);
}

.modal.show .modalDialog {
  transform: translate(0, 0);
}

.modalOpen .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modalDialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modalBackdrop.fade {
  opacity: 0;
}

.modalBackdrop.show {
  opacity: 0.5;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modalTitle {
  margin-bottom: 0;
  line-height: 1.5;
}

.modalBody {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  border-top: 1px solid #eceeef;
}

.modalFooter > :not(:first-child) {
  margin-left: .25rem;
}

.modalFooter > :not(:last-child) {
  margin-right: .25rem;
}

.modalScrollbarMeasure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.modalDialog {
  max-width: 500px;
  margin: 30px auto;
}

.modalSm {
  max-width: 300px;
}

.modalLg {
  max-width: 800px;
}
