.m0 {
  margin: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mx0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m1 {
  margin: 0.25rem !important;
}

.mt1 {
  margin-top: 0.25rem !important;
}

.mr1 {
  margin-right: 0.25rem !important;
}

.mb1 {
  margin-bottom: 0.25rem !important;
}

.ml1 {
  margin-left: 0.25rem !important;
}

.mx1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.my1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.m2 {
  margin: 0.5rem !important;
}

.mt2 {
  margin-top: 0.5rem !important;
}

.mr2 {
  margin-right: 0.5rem !important;
}

.mb2 {
  margin-bottom: 0.5rem !important;
}

.ml2 {
  margin-left: 0.5rem !important;
}

.mx2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.my2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.m3 {
  margin: 1rem !important;
}

.mt3 {
  margin-top: 1rem !important;
}

.mr3 {
  margin-right: 1rem !important;
}

.mb3 {
  margin-bottom: 1rem !important;
}

.ml3 {
  margin-left: 1rem !important;
}

.mx3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.my3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m4 {
  margin: 1.5rem !important;
}

.mt4 {
  margin-top: 1.5rem !important;
}

.mr4 {
  margin-right: 1.5rem !important;
}

.mb4 {
  margin-bottom: 1.5rem !important;
}

.ml4 {
  margin-left: 1.5rem !important;
}

.mx4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.my4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.m5 {
  margin: 3rem !important;
}

.mt5 {
  margin-top: 3rem !important;
}

.mr5 {
  margin-right: 3rem !important;
}

.mb5 {
  margin-bottom: 3rem !important;
}

.ml5 {
  margin-left: 3rem !important;
}

.mx5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.my5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.p0 {
  padding: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.px0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p1 {
  padding: 0.25rem !important;
}

.pt1 {
  padding-top: 0.25rem !important;
}

.pr1 {
  padding-right: 0.25rem !important;
}

.pb1 {
  padding-bottom: 0.25rem !important;
}

.pl1 {
  padding-left: 0.25rem !important;
}

.px1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.py1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.p2 {
  padding: 0.5rem !important;
}

.pt2 {
  padding-top: 0.5rem !important;
}

.pr2 {
  padding-right: 0.5rem !important;
}

.pb2 {
  padding-bottom: 0.5rem !important;
}

.pl2 {
  padding-left: 0.5rem !important;
}

.px2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.py2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.p3 {
  padding: 1rem !important;
}

.pt3 {
  padding-top: 1rem !important;
}

.pr3 {
  padding-right: 1rem !important;
}

.pb3 {
  padding-bottom: 1rem !important;
}

.pl3 {
  padding-left: 1rem !important;
}

.px3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.py3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.p4 {
  padding: 1.5rem !important;
}

.pt4 {
  padding-top: 1.5rem !important;
}

.pr4 {
  padding-right: 1.5rem !important;
}

.pb4 {
  padding-bottom: 1.5rem !important;
}

.pl4 {
  padding-left: 1.5rem !important;
}

.px4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.py4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.p5 {
  padding: 3rem !important;
}

.pt5 {
  padding-top: 3rem !important;
}

.pr5 {
  padding-right: 3rem !important;
}

.pb5 {
  padding-bottom: 3rem !important;
}

.pl5 {
  padding-left: 3rem !important;
}

.px5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.mAuto {
  margin: auto !important;
}

.mtAuto {
  margin-top: auto !important;
}

.mrAuto {
  margin-right: auto !important;
}

.mbAuto {
  margin-bottom: auto !important;
}

.mlAuto {
  margin-left: auto !important;
}

.mxAuto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.myAuto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

@media (min-width: 576px) {
  .mSm0 {
    margin: 0 !important;
  }

  .mtSm0 {
    margin-top: 0 !important;
  }

  .mrSm0 {
    margin-right: 0 !important;
  }

  .mbSm0 {
    margin-bottom: 0 !important;
  }

  .mlSm0 {
    margin-left: 0 !important;
  }

  .mxSm0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .mySm0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .mSm1 {
    margin: 0.25rem !important;
  }

  .mtSm1 {
    margin-top: 0.25rem !important;
  }

  .mrSm1 {
    margin-right: 0.25rem !important;
  }

  .mbSm1 {
    margin-bottom: 0.25rem !important;
  }

  .mlSm1 {
    margin-left: 0.25rem !important;
  }

  .mxSm1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }

  .mySm1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }

  .mSm2 {
    margin: 0.5rem !important;
  }

  .mtSm2 {
    margin-top: 0.5rem !important;
  }

  .mrSm2 {
    margin-right: 0.5rem !important;
  }

  .mbSm2 {
    margin-bottom: 0.5rem !important;
  }

  .mlSm2 {
    margin-left: 0.5rem !important;
  }

  .mxSm2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .mySm2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .mSm3 {
    margin: 1rem !important;
  }

  .mtSm3 {
    margin-top: 1rem !important;
  }

  .mrSm3 {
    margin-right: 1rem !important;
  }

  .mbSm3 {
    margin-bottom: 1rem !important;
  }

  .mlSm3 {
    margin-left: 1rem !important;
  }

  .mxSm3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .mySm3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .mSm4 {
    margin: 1.5rem !important;
  }

  .mtSm4 {
    margin-top: 1.5rem !important;
  }

  .mrSm4 {
    margin-right: 1.5rem !important;
  }

  .mbSm4 {
    margin-bottom: 1.5rem !important;
  }

  .mlSm4 {
    margin-left: 1.5rem !important;
  }

  .mxSm4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .mySm4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  .mSm5 {
    margin: 3rem !important;
  }

  .mtSm5 {
    margin-top: 3rem !important;
  }

  .mrSm5 {
    margin-right: 3rem !important;
  }

  .mbSm5 {
    margin-bottom: 3rem !important;
  }

  .mlSm5 {
    margin-left: 3rem !important;
  }

  .mxSm5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }

  .mySm5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .pSm0 {
    padding: 0 !important;
  }

  .ptSm0 {
    padding-top: 0 !important;
  }

  .prSm0 {
    padding-right: 0 !important;
  }

  .pbSm0 {
    padding-bottom: 0 !important;
  }

  .plSm0 {
    padding-left: 0 !important;
  }

  .pxSm0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .pySm0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .pSm1 {
    padding: 0.25rem !important;
  }

  .ptSm1 {
    padding-top: 0.25rem !important;
  }

  .prSm1 {
    padding-right: 0.25rem !important;
  }

  .pbSm1 {
    padding-bottom: 0.25rem !important;
  }

  .plSm1 {
    padding-left: 0.25rem !important;
  }

  .pxSm1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .pySm1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .pSm2 {
    padding: 0.5rem !important;
  }

  .ptSm2 {
    padding-top: 0.5rem !important;
  }

  .prSm2 {
    padding-right: 0.5rem !important;
  }

  .pbSm2 {
    padding-bottom: 0.5rem !important;
  }

  .plSm2 {
    padding-left: 0.5rem !important;
  }

  .pxSm2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .pySm2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .pSm3 {
    padding: 1rem !important;
  }

  .ptSm3 {
    padding-top: 1rem !important;
  }

  .prSm3 {
    padding-right: 1rem !important;
  }

  .pbSm3 {
    padding-bottom: 1rem !important;
  }

  .plSm3 {
    padding-left: 1rem !important;
  }

  .pxSm3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .pySm3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .pSm4 {
    padding: 1.5rem !important;
  }

  .ptSm4 {
    padding-top: 1.5rem !important;
  }

  .prSm4 {
    padding-right: 1.5rem !important;
  }

  .pbSm4 {
    padding-bottom: 1.5rem !important;
  }

  .plSm4 {
    padding-left: 1.5rem !important;
  }

  .pxSm4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .pySm4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .pSm5 {
    padding: 3rem !important;
  }

  .ptSm5 {
    padding-top: 3rem !important;
  }

  .prSm5 {
    padding-right: 3rem !important;
  }

  .pbSm5 {
    padding-bottom: 3rem !important;
  }

  .plSm5 {
    padding-left: 3rem !important;
  }

  .pxSm5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .pySm5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .mSmAuto {
    margin: auto !important;
  }

  .mtSmAuto {
    margin-top: auto !important;
  }

  .mrSmAuto {
    margin-right: auto !important;
  }

  .mbSmAuto {
    margin-bottom: auto !important;
  }

  .mlSmAuto {
    margin-left: auto !important;
  }

  .mxSmAuto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .mySmAuto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 768px) {
  .mMd0 {
    margin: 0 !important;
  }

  .mtMd0 {
    margin-top: 0 !important;
  }

  .mrMd0 {
    margin-right: 0 !important;
  }

  .mbMd0 {
    margin-bottom: 0 !important;
  }

  .mlMd0 {
    margin-left: 0 !important;
  }

  .mxMd0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .myMd0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .mMd1 {
    margin: 0.25rem !important;
  }

  .mtMd1 {
    margin-top: 0.25rem !important;
  }

  .mrMd1 {
    margin-right: 0.25rem !important;
  }

  .mbMd1 {
    margin-bottom: 0.25rem !important;
  }

  .mlMd1 {
    margin-left: 0.25rem !important;
  }

  .mxMd1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }

  .myMd1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }

  .mMd2 {
    margin: 0.5rem !important;
  }

  .mtMd2 {
    margin-top: 0.5rem !important;
  }

  .mrMd2 {
    margin-right: 0.5rem !important;
  }

  .mbMd2 {
    margin-bottom: 0.5rem !important;
  }

  .mlMd2 {
    margin-left: 0.5rem !important;
  }

  .mxMd2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .myMd2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .mMd3 {
    margin: 1rem !important;
  }

  .mtMd3 {
    margin-top: 1rem !important;
  }

  .mrMd3 {
    margin-right: 1rem !important;
  }

  .mbMd3 {
    margin-bottom: 1rem !important;
  }

  .mlMd3 {
    margin-left: 1rem !important;
  }

  .mxMd3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .myMd3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .mMd4 {
    margin: 1.5rem !important;
  }

  .mtMd4 {
    margin-top: 1.5rem !important;
  }

  .mrMd4 {
    margin-right: 1.5rem !important;
  }

  .mbMd4 {
    margin-bottom: 1.5rem !important;
  }

  .mlMd4 {
    margin-left: 1.5rem !important;
  }

  .mxMd4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .myMd4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  .mMd5 {
    margin: 3rem !important;
  }

  .mtMd5 {
    margin-top: 3rem !important;
  }

  .mrMd5 {
    margin-right: 3rem !important;
  }

  .mbMd5 {
    margin-bottom: 3rem !important;
  }

  .mlMd5 {
    margin-left: 3rem !important;
  }

  .mxMd5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }

  .myMd5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .pMd0 {
    padding: 0 !important;
  }

  .ptMd0 {
    padding-top: 0 !important;
  }

  .prMd0 {
    padding-right: 0 !important;
  }

  .pbMd0 {
    padding-bottom: 0 !important;
  }

  .plMd0 {
    padding-left: 0 !important;
  }

  .pxMd0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .pyMd0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .pMd1 {
    padding: 0.25rem !important;
  }

  .ptMd1 {
    padding-top: 0.25rem !important;
  }

  .prMd1 {
    padding-right: 0.25rem !important;
  }

  .pbMd1 {
    padding-bottom: 0.25rem !important;
  }

  .plMd1 {
    padding-left: 0.25rem !important;
  }

  .pxMd1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .pyMd1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .pMd2 {
    padding: 0.5rem !important;
  }

  .ptMd2 {
    padding-top: 0.5rem !important;
  }

  .prMd2 {
    padding-right: 0.5rem !important;
  }

  .pbMd2 {
    padding-bottom: 0.5rem !important;
  }

  .plMd2 {
    padding-left: 0.5rem !important;
  }

  .pxMd2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .pyMd2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .pMd3 {
    padding: 1rem !important;
  }

  .ptMd3 {
    padding-top: 1rem !important;
  }

  .prMd3 {
    padding-right: 1rem !important;
  }

  .pbMd3 {
    padding-bottom: 1rem !important;
  }

  .plMd3 {
    padding-left: 1rem !important;
  }

  .pxMd3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .pyMd3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .pMd4 {
    padding: 1.5rem !important;
  }

  .ptMd4 {
    padding-top: 1.5rem !important;
  }

  .prMd4 {
    padding-right: 1.5rem !important;
  }

  .pbMd4 {
    padding-bottom: 1.5rem !important;
  }

  .plMd4 {
    padding-left: 1.5rem !important;
  }

  .pxMd4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .pyMd4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .pMd5 {
    padding: 3rem !important;
  }

  .ptMd5 {
    padding-top: 3rem !important;
  }

  .prMd5 {
    padding-right: 3rem !important;
  }

  .pbMd5 {
    padding-bottom: 3rem !important;
  }

  .plMd5 {
    padding-left: 3rem !important;
  }

  .pxMd5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .pyMd5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .mMdAuto {
    margin: auto !important;
  }

  .mtMdAuto {
    margin-top: auto !important;
  }

  .mrMdAuto {
    margin-right: auto !important;
  }

  .mbMdAuto {
    margin-bottom: auto !important;
  }

  .mlMdAuto {
    margin-left: auto !important;
  }

  .mxMdAuto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .myMdAuto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 992px) {
  .mLg0 {
    margin: 0 !important;
  }

  .mtLg0 {
    margin-top: 0 !important;
  }

  .mrLg0 {
    margin-right: 0 !important;
  }

  .mbLg0 {
    margin-bottom: 0 !important;
  }

  .mlLg0 {
    margin-left: 0 !important;
  }

  .mxLg0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .myLg0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .mLg1 {
    margin: 0.25rem !important;
  }

  .mtLg1 {
    margin-top: 0.25rem !important;
  }

  .mrLg1 {
    margin-right: 0.25rem !important;
  }

  .mbLg1 {
    margin-bottom: 0.25rem !important;
  }

  .mlLg1 {
    margin-left: 0.25rem !important;
  }

  .mxLg1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }

  .myLg1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }

  .mLg2 {
    margin: 0.5rem !important;
  }

  .mtLg2 {
    margin-top: 0.5rem !important;
  }

  .mrLg2 {
    margin-right: 0.5rem !important;
  }

  .mbLg2 {
    margin-bottom: 0.5rem !important;
  }

  .mlLg2 {
    margin-left: 0.5rem !important;
  }

  .mxLg2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .myLg2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .mLg3 {
    margin: 1rem !important;
  }

  .mtLg3 {
    margin-top: 1rem !important;
  }

  .mrLg3 {
    margin-right: 1rem !important;
  }

  .mbLg3 {
    margin-bottom: 1rem !important;
  }

  .mlLg3 {
    margin-left: 1rem !important;
  }

  .mxLg3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .myLg3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .mLg4 {
    margin: 1.5rem !important;
  }

  .mtLg4 {
    margin-top: 1.5rem !important;
  }

  .mrLg4 {
    margin-right: 1.5rem !important;
  }

  .mbLg4 {
    margin-bottom: 1.5rem !important;
  }

  .mlLg4 {
    margin-left: 1.5rem !important;
  }

  .mxLg4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .myLg4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  .mLg5 {
    margin: 3rem !important;
  }

  .mtLg5 {
    margin-top: 3rem !important;
  }

  .mrLg5 {
    margin-right: 3rem !important;
  }

  .mbLg5 {
    margin-bottom: 3rem !important;
  }

  .mlLg5 {
    margin-left: 3rem !important;
  }

  .mxLg5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }

  .myLg5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .pLg0 {
    padding: 0 !important;
  }

  .ptLg0 {
    padding-top: 0 !important;
  }

  .prLg0 {
    padding-right: 0 !important;
  }

  .pbLg0 {
    padding-bottom: 0 !important;
  }

  .plLg0 {
    padding-left: 0 !important;
  }

  .pxLg0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .pyLg0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .pLg1 {
    padding: 0.25rem !important;
  }

  .ptLg1 {
    padding-top: 0.25rem !important;
  }

  .prLg1 {
    padding-right: 0.25rem !important;
  }

  .pbLg1 {
    padding-bottom: 0.25rem !important;
  }

  .plLg1 {
    padding-left: 0.25rem !important;
  }

  .pxLg1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .pyLg1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .pLg2 {
    padding: 0.5rem !important;
  }

  .ptLg2 {
    padding-top: 0.5rem !important;
  }

  .prLg2 {
    padding-right: 0.5rem !important;
  }

  .pbLg2 {
    padding-bottom: 0.5rem !important;
  }

  .plLg2 {
    padding-left: 0.5rem !important;
  }

  .pxLg2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .pyLg2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .pLg3 {
    padding: 1rem !important;
  }

  .ptLg3 {
    padding-top: 1rem !important;
  }

  .prLg3 {
    padding-right: 1rem !important;
  }

  .pbLg3 {
    padding-bottom: 1rem !important;
  }

  .plLg3 {
    padding-left: 1rem !important;
  }

  .pxLg3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .pyLg3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .pLg4 {
    padding: 1.5rem !important;
  }

  .ptLg4 {
    padding-top: 1.5rem !important;
  }

  .prLg4 {
    padding-right: 1.5rem !important;
  }

  .pbLg4 {
    padding-bottom: 1.5rem !important;
  }

  .plLg4 {
    padding-left: 1.5rem !important;
  }

  .pxLg4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .pyLg4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .pLg5 {
    padding: 3rem !important;
  }

  .ptLg5 {
    padding-top: 3rem !important;
  }

  .prLg5 {
    padding-right: 3rem !important;
  }

  .pbLg5 {
    padding-bottom: 3rem !important;
  }

  .plLg5 {
    padding-left: 3rem !important;
  }

  .pxLg5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .pyLg5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .mLgAuto {
    margin: auto !important;
  }

  .mtLgAuto {
    margin-top: auto !important;
  }

  .mrLgAuto {
    margin-right: auto !important;
  }

  .mbLgAuto {
    margin-bottom: auto !important;
  }

  .mlLgAuto {
    margin-left: auto !important;
  }

  .mxLgAuto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .myLgAuto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 1200px) {
  .mXl0 {
    margin: 0 !important;
  }

  .mtXl0 {
    margin-top: 0 !important;
  }

  .mrXl0 {
    margin-right: 0 !important;
  }

  .mbXl0 {
    margin-bottom: 0 !important;
  }

  .mlXl0 {
    margin-left: 0 !important;
  }

  .mxXl0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .myXl0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .mXl1 {
    margin: 0.25rem !important;
  }

  .mtXl1 {
    margin-top: 0.25rem !important;
  }

  .mrXl1 {
    margin-right: 0.25rem !important;
  }

  .mbXl1 {
    margin-bottom: 0.25rem !important;
  }

  .mlXl1 {
    margin-left: 0.25rem !important;
  }

  .mxXl1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }

  .myXl1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }

  .mXl2 {
    margin: 0.5rem !important;
  }

  .mtXl2 {
    margin-top: 0.5rem !important;
  }

  .mrXl2 {
    margin-right: 0.5rem !important;
  }

  .mbXl2 {
    margin-bottom: 0.5rem !important;
  }

  .mlXl2 {
    margin-left: 0.5rem !important;
  }

  .mxXl2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .myXl2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .mXl3 {
    margin: 1rem !important;
  }

  .mtXl3 {
    margin-top: 1rem !important;
  }

  .mrXl3 {
    margin-right: 1rem !important;
  }

  .mbXl3 {
    margin-bottom: 1rem !important;
  }

  .mlXl3 {
    margin-left: 1rem !important;
  }

  .mxXl3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .myXl3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .mXl4 {
    margin: 1.5rem !important;
  }

  .mtXl4 {
    margin-top: 1.5rem !important;
  }

  .mrXl4 {
    margin-right: 1.5rem !important;
  }

  .mbXl4 {
    margin-bottom: 1.5rem !important;
  }

  .mlXl4 {
    margin-left: 1.5rem !important;
  }

  .mxXl4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .myXl4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  .mXl5 {
    margin: 3rem !important;
  }

  .mtXl5 {
    margin-top: 3rem !important;
  }

  .mrXl5 {
    margin-right: 3rem !important;
  }

  .mbXl5 {
    margin-bottom: 3rem !important;
  }

  .mlXl5 {
    margin-left: 3rem !important;
  }

  .mxXl5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }

  .myXl5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .pXl0 {
    padding: 0 !important;
  }

  .ptXl0 {
    padding-top: 0 !important;
  }

  .prXl0 {
    padding-right: 0 !important;
  }

  .pbXl0 {
    padding-bottom: 0 !important;
  }

  .plXl0 {
    padding-left: 0 !important;
  }

  .pxXl0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .pyXl0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .pXl1 {
    padding: 0.25rem !important;
  }

  .ptXl1 {
    padding-top: 0.25rem !important;
  }

  .prXl1 {
    padding-right: 0.25rem !important;
  }

  .pbXl1 {
    padding-bottom: 0.25rem !important;
  }

  .plXl1 {
    padding-left: 0.25rem !important;
  }

  .pxXl1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .pyXl1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .pXl2 {
    padding: 0.5rem !important;
  }

  .ptXl2 {
    padding-top: 0.5rem !important;
  }

  .prXl2 {
    padding-right: 0.5rem !important;
  }

  .pbXl2 {
    padding-bottom: 0.5rem !important;
  }

  .plXl2 {
    padding-left: 0.5rem !important;
  }

  .pxXl2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .pyXl2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .pXl3 {
    padding: 1rem !important;
  }

  .ptXl3 {
    padding-top: 1rem !important;
  }

  .prXl3 {
    padding-right: 1rem !important;
  }

  .pbXl3 {
    padding-bottom: 1rem !important;
  }

  .plXl3 {
    padding-left: 1rem !important;
  }

  .pxXl3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .pyXl3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .pXl4 {
    padding: 1.5rem !important;
  }

  .ptXl4 {
    padding-top: 1.5rem !important;
  }

  .prXl4 {
    padding-right: 1.5rem !important;
  }

  .pbXl4 {
    padding-bottom: 1.5rem !important;
  }

  .plXl4 {
    padding-left: 1.5rem !important;
  }

  .pxXl4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .pyXl4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .pXl5 {
    padding: 3rem !important;
  }

  .ptXl5 {
    padding-top: 3rem !important;
  }

  .prXl5 {
    padding-right: 3rem !important;
  }

  .pbXl5 {
    padding-bottom: 3rem !important;
  }

  .plXl5 {
    padding-left: 3rem !important;
  }

  .pxXl5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .pyXl5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .mXlAuto {
    margin: auto !important;
  }

  .mtXlAuto {
    margin-top: auto !important;
  }

  .mrXlAuto {
    margin-right: auto !important;
  }

  .mbXlAuto {
    margin-bottom: auto !important;
  }

  .mlXlAuto {
    margin-left: auto !important;
  }

  .mxXlAuto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .myXlAuto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}
