@import './_variables.scss';
@import './mixins/_alert.scss';
@import './mixins/_border-radius.scss';
@import './mixins/_hover.scss';

//
// Base styles
//

.close {
  float: right;
  font-size: $close-font-size;
  font-weight: $close-font-weight;
  line-height: 1;
  color: $close-color;
  text-shadow: $close-text-shadow;
  opacity: .5;

  @include hover-focus {
    color: $close-color;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
  }
}

.alert {
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}

// Headings for larger alerts
.alertHeading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alertLink {
  font-weight: $alert-link-font-weight;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alertDismissible {
  // Adjust close link position
  .close {
    position: relative;
    top: -$alert-padding-y;
    right: -$alert-padding-x;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alertSuccess {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}
.alertInfo {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}
.alertWarning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}
.alertDanger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
