@import './_variables.scss';
@import './mixins/_border-radius.scss';
@import './mixins/_breakpoints.scss';
@import './mixins/_cards.scss';
@import './mixins/_hover.scss';

//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $card-bg;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);
}

.cardBlock {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: $card-spacer-x;
}

.cardTitle {
  margin-bottom: $card-spacer-y;
}

.cardSubtitle {
  margin-top: -($card-spacer-y / 2);
  margin-bottom: 0;
}

.cardText:last-child {
  margin-bottom: 0;
}

.cardLink {
  @include hover {
    text-decoration: none;
  }

  + .cardLink {
    margin-left: $card-spacer-x;
  }
}

.card {
  > .listGroup:first-child {
    .listGroupItem:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .listGroup:last-child {
    .listGroupItem:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }
}


//
// Optional textual caps
//

.cardHeader {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  background-color: $card-cap-bg;
  border-bottom: $card-border-width solid $card-border-color;

  &:first-child {
    @include border-radius($card-border-radius-inner $card-border-radius-inner 0 0);
  }
}

.cardFooter {
  padding: $card-spacer-y $card-spacer-x;
  background-color: $card-cap-bg;
  border-top: $card-border-width solid $card-border-color;

  &:last-child {
    @include border-radius(0 0 $card-border-radius-inner $card-border-radius-inner);
  }
}


//
// Header navs
//

.cardHeaderTabs {
  margin-right: -($card-spacer-x / 2);
  margin-bottom: -$card-spacer-y;
  margin-left: -($card-spacer-x / 2);
  border-bottom: 0;
}

.cardHeaderPills {
  margin-right: -($card-spacer-x / 2);
  margin-left: -($card-spacer-x / 2);
}


//
// Background variations
//

.cardPrimary {
  @include card-variant($brand-primary, $brand-primary);
}
.cardSuccess {
  @include card-variant($brand-success, $brand-success);
}
.cardInfo {
  @include card-variant($brand-info, $brand-info);
}
.cardWarning {
  @include card-variant($brand-warning, $brand-warning);
}
.cardDanger {
  @include card-variant($brand-danger, $brand-danger);
}

// Remove all backgrounds
.cardOutlinePrimary {
  @include card-outline-variant($btn-primary-bg);
}
.cardOutlineSecondary {
  @include card-outline-variant($btn-secondary-border);
}
.cardOutlineInfo {
  @include card-outline-variant($btn-info-bg);
}
.cardOutlineSuccess {
  @include card-outline-variant($btn-success-bg);
}
.cardOutlineWarning {
  @include card-outline-variant($btn-warning-bg);
}
.cardOutlineDanger {
  @include card-outline-variant($btn-danger-bg);
}

//
// Inverse text within a card for use with dark backgrounds
//

.cardInverse {
  @include card-inverse;
}

//
// Blockquote
//

.cardBlockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

// Card image
.cardImg {
  // margin: -1.325rem;
  @include border-radius($card-border-radius-inner);
}
.cardImgOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
}



// Card image caps
.cardImgTop {
  @include border-top-radius($card-border-radius-inner);
}
.cardImgBottom {
  @include border-bottom-radius($card-border-radius-inner);
}


// Card deck

@include media-breakpoint-up(sm) {
  .cardDeck {
    display: flex;
    flex-flow: row wrap;

    .card {
      display: flex;
      flex: 1 0 0;
      flex-direction: column;

      // Selectively apply horizontal margins to cards to avoid doing the
      // negative margin dance like our grid. This differs from the grid
      // due to the use of margins as gutters instead of padding.
      &:not(:first-child) { margin-left: $card-deck-margin; }
      &:not(:last-child) { margin-right: $card-deck-margin; }
    }
  }
}


//
// Card groups
//

@include media-breakpoint-up(sm) {
  .cardGroup {
    display: flex;
    flex-flow: row wrap;

    .card {
      flex: 1 0 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:first-child {
          @include border-right-radius(0);

          .cardImgTop {
            border-top-right-radius: 0;
          }
          .cardImgBottom {
            border-bottom-right-radius: 0;
          }
        }
        &:last-child {
          @include border-left-radius(0);

          .cardImgTop {
            border-top-left-radius: 0;
          }
          .cardImgBottom {
            border-bottom-left-radius: 0;
          }
        }

        &:not(:first-child):not(:last-child) {
          border-radius: 0;

          .cardImgTop,
          .cardImgBottom {
            border-radius: 0;
          }
        }
      }
    }
  }
}


//
// Columns
//

@include media-breakpoint-up(sm) {
  .cardColumns {
    column-count: $card-columns-count;
    column-gap: $card-columns-gap;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
      margin-bottom: $card-columns-margin;
    }
  }
}
