@import './_variables.scss';
@import './_mixins.scss';

//
// Base styles
//

.inputGroup {
  position: relative;
  display: flex;
  width: 100%;

  .formControl {
    // Ensure that the input is always above the *appended* addon button for
    // proper border colors.
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    // Add width 1% and flex-basis auto to ensure that button will not wrap out
    // the column. Applies to IE Edge+ and Firefox. Chrome does not require this.
    width: 1%;
    margin-bottom: 0;

    // Bring the "active" form control to the front
    @include hover-focus-active {
      z-index: 3;
    }
  }
}

.inputGroupAddon,
.inputGroupBtn,
.inputGroup .formControl {
  // Vertically centers the content of the addons within the input group
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(:first-child):not(:last-child) {
    @include border-radius(0);
  }
}

.inputGroupAddon,
.inputGroupBtn {
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
}


// Sizing options
//
// Remix the default form control sizing classes into new ones for easier
// manipulation.

.inputGroupLg > .formControl,
.inputGroupLg > .inputGroupAddon,
.inputGroupLg > .inputGroupBtn > .btn {
  @extend .formControlLg;
}
.inputGroupSm > .formControl,
.inputGroupSm > .inputGroupAddon,
.inputGroupSm > .inputGroupBtn > .btn {
  @extend .formControlSm;
}


//
// Text input groups
//

.inputGroupAddon {
  padding: $input-padding-y $input-padding-x;
  margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
  font-size: $font-size-base; // Match inputs
  font-weight: $font-weight-normal;
  line-height: $input-line-height;
  color: $input-color;
  text-align: center;
  background-color: $input-group-addon-bg;
  border: $input-btn-border-width solid $input-group-addon-border-color;
  @include border-radius($input-border-radius);

  // Sizing
  &.formControlSm {
    padding: $input-padding-y-sm $input-padding-x-sm;
    font-size: $font-size-sm;
    @include border-radius($input-border-radius-sm);
  }
  &.formControlLg {
    padding: $input-padding-y-lg $input-padding-x-lg;
    font-size: $font-size-lg;
    @include border-radius($input-border-radius-lg);
  }

  // scss-lint:disable QualifyingElement
  // Nuke default margins from checkboxes and radios to vertically center within.
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
  }
  // scss-lint:enable QualifyingElement
}


//
// Reset rounded corners
//

.inputGroup .formControl:not(:last-child),
.inputGroupAddon:not(:last-child),
.inputGroupBtn:not(:last-child) > .btn,
.inputGroupBtn:not(:last-child) > .btnGroup > .btn,
.inputGroupBtn:not(:last-child) > .dropdownToggle,
.inputGroupBtn:not(:first-child) > .btn:not(:last-child):not(.dropdownToggle),
.inputGroupBtn:not(:first-child) > .btnGroup:not(:last-child) > .btn {
  @include border-right-radius(0);
}
.inputGroupAddon:not(:last-child) {
  border-right: 0;
}
.inputGroup .formControl:not(:first-child),
.inputGroupAddon:not(:first-child),
.inputGroupBtn:not(:first-child) > .btn,
.inputGroupBtn:not(:first-child) > .btnGroup > .btn,
.inputGroupBtn:not(:first-child) > .dropdownToggle,
.inputGroupBtn:not(:last-child) > .btn:not(:first-child),
.inputGroupBtn:not(:last-child) > .btnGroup:not(:first-child) > .btn {
  @include border-left-radius(0);
}
.formControl + .inputGroupAddon:not(:first-child) {
  border-left: 0;
}

//
// Button input groups
//

.inputGroupBtn {
  position: relative;
  // Jankily prevent input button groups from wrapping with `white-space` and
  // `font-size` in combination with `inline-block` on buttons.
  font-size: 0;
  white-space: nowrap;

  // Negative margin for spacing, position for bringing hovered/focused/actived
  // element above the siblings.
  > .btn {
    position: relative;
    // Vertically stretch the button and center its content
    flex: 1;

    + .btn {
      margin-left: (-$input-btn-border-width);
    }

    // Bring the "active" button to the front
    @include hover-focus-active {
      z-index: 3;
    }
  }

  // Negative margin to only have a single, shared border between the two
  &:not(:last-child) {
    > .btn,
    > .btnGroup {
      margin-right: (-$input-btn-border-width);
    }
  }
  &:not(:first-child) {
    > .btn,
    > .btnGroup {
      z-index: 2;
      margin-left: (-$input-btn-border-width);
      // Because specificity
      @include hover-focus-active {
        z-index: 3;
      }
    }
  }
}
