@import './_variables.scss';
@import './mixins/_border-radius.scss';
@import './mixins/_breakpoints.scss';

.jumbotron {
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: $jumbotron-padding;
  background-color: $jumbotron-bg;
  @include border-radius($border-radius-lg);

  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
}

.jumbotronHr {
  border-top-color: darken($jumbotron-bg, 10%);
}

.jumbotronFluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}
