@import './_variables.scss';
@import './mixins/_border-radius.scss';
@import './mixins/_breakpoints.scss';
@import './mixins/_container.scss';
@import './mixins/_hover.scss';

// Provide a static navbar from which we expand to create full-width, fixed, and other navbar variations.
.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $navbar-padding-y $navbar-padding-x;
}

// Navbar container
.navbarContainer {
  @include make-container();
  @include make-container-max-widths();
}

// Used for brand, project, or site names.
.navbarBrand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: $navbar-padding-x;
  font-size: $font-size-lg;
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus {
    text-decoration: none;
  }
}

// Navbar link
.navbarLink {
  display: block;
  padding: $nav-link-padding;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text and removes hover/tab effects
  &.disabled {
    color: $nav-disabled-link-color;
    cursor: $cursor-disabled;
  }
}

// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).
.navbarNav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .navbarLink {
    padding-right: 0;
    padding-left: 0;
  }
}


// Navbar text
.navbarText {
  display: inline-block;
  padding-top:    .425rem;
  padding-bottom: .425rem;
}

// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// Button for toggling the navbar when in its collapsed state
.navbarToggler {
  align-self: flex-start; // Prevent toggler from growing to full width when it's the only visible navbar child
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  font-size: $navbar-toggler-font-size;
  line-height: 1;
  background: transparent; // remove default button style
  border: $border-width solid transparent; // remove default button style
  @include border-radius($navbar-toggler-border-radius);

  @include hover-focus {
    text-decoration: none;
  }
}

// Keep as a separate element so folks can easily override it with another icon or image file as needed.
.navbarTogglerIcon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

// Use `position` on the toggler to prevent it from being auto placed as a flex item and allow easy placement.
.navbarTogglerLeft {
  position: absolute;
  left: $navbar-padding-x;
}
.navbarTogglerRight {
  position: absolute;
  right: $navbar-padding-x;
}

// Generate series of `.navbar-toggleable-*` responsive classes for configuring where your navbar collapses.
.navbarToggleable {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        > .navbarContainer {
          padding-right: 0;
          padding-left: 0;
        }
      }

      @include media-breakpoint-up($next) {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        .navbarNav {
          flex-direction: row;

          .navbarLink {
            padding-right: .5rem;
            padding-left: .5rem;
          }
        }

        // For nesting containers, have to redeclare for alignment purposes
        > .navbarContainer {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
        }

        .navbarCollapse {
          display: flex !important;
          width: 100%;
        }

        .navbarToggler {
          display: none;
        }
      }
    }
  }
}

// Dark links against a light background
.navbarLight {
  .navbarBrand,
  .navbarToggler {
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  .navbarNav {
    .navbarLink {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .open > .navbarLink,
    .active > .navbarLink,
    .navbarLink.open,
    .navbarLink.active {
      color: $navbar-light-active-color;
    }
  }

  .navbarToggler {
    border-color: $navbar-light-toggler-border;
  }

  .navbarTogglerIcon {
    background-image: $navbar-light-toggler-bg;
  }

  .navbarText {
    color: $navbar-light-color;
  }
}

// White links against a dark background
.navbarInverse {
  .navbarBrand,
  .navbarToggler {
    color: $navbar-inverse-active-color;

    @include hover-focus {
      color: $navbar-inverse-active-color;
    }
  }

  .navbarNav {
    .navbarLink {
      color: $navbar-inverse-color;

      @include hover-focus {
        color: $navbar-inverse-hover-color;
      }

      &.disabled {
        color: $navbar-inverse-disabled-color;
      }
    }

    .open > .navbarLink,
    .active > .navbarLink,
    .navbarLink.open,
    .navbarLink.active {
      color: $navbar-inverse-active-color;
    }
  }

  .navbarToggler {
    border-color: $navbar-inverse-toggler-border;
  }

  .navbarTogglerIcon {
    background-image: $navbar-inverse-toggler-bg;
  }

  .navbarText {
    color: $navbar-inverse-color;
  }
}
