@import './_variables.scss';
@import './mixins/_border-radius.scss';
@import './mixins/_gradients.scss';

// Progress animations
@keyframes progressBarStripes {
  from { background-position: $progress-height 0; }
  to { background-position: 0 0; }
}

// Basic progress bar
.progress {
  display: flex;
  overflow: hidden; // force rounded corners by cropping it
  font-size: $progress-font-size;
  line-height: $progress-height;
  text-align: center;
  background-color: $progress-bg;
  @include border-radius($progress-border-radius);
}
.progressBar {
  height: $progress-height;
  color: $progress-bar-color;
  background-color: $progress-bar-bg;
}

// Striped
.progressBarStriped {
  @include gradient-striped();
  background-size: $progress-height $progress-height;
}

// Animated
.progressBarAnimated {
  animation: progressBarStripes $progress-bar-animation-timing;
}
