@import './_variables.scss';
@import './mixins/_breakpoints.scss';
@import './mixins/_text-emphasis.scss';
@import './mixins/_text-hide.scss';
@import './mixins/_text-truncate.scss';

//
// Text
//

// Alignment

.textJustify  { text-align: justify !important; }
.textNowrap   { white-space: nowrap !important; }
.textTruncate { @include text-truncate; }

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}Left   { text-align: left !important; }
    .text#{$infix}Right  { text-align: right !important; }
    .text#{$infix}Center { text-align: center !important; }
  }
}

// Transformation

.textLowercase  { text-transform: lowercase !important; }
.textUppercase  { text-transform: uppercase !important; }
.textCapitalize { text-transform: capitalize !important; }

// Weight and italics

.fontWeightNormal { font-weight: $font-weight-normal; }
.fontWeightBold   { font-weight: $font-weight-bold; }
.fontItalic        { font-style: italic; }

// Contextual colors

.textWhite {
  color: #fff !important;
}

@include text-emphasis-variant('.textMuted', $text-muted);

@include text-emphasis-variant('.textPrimary', $brand-primary);

@include text-emphasis-variant('.textSuccess', $brand-success);

@include text-emphasis-variant('.textInfo', $brand-info);

@include text-emphasis-variant('.textWarning', $brand-warning);

@include text-emphasis-variant('.textDanger', $brand-danger);

// Font color

@include text-emphasis-variant('.textGrayDark', $gray-dark);

// Misc

.textHide {
  @include text-hide();
}
