.alignBaseline    { vertical-align: baseline !important; } // Browser default
.alignTop         { vertical-align: top !important; }
.alignMiddle      { vertical-align: middle !important; }
.alignBottom      { vertical-align: bottom !important; }
.alignTextBottom { vertical-align: text-bottom !important; }
.alignTextTop    { vertical-align: text-top !important; }
