@import '../_variables.scss';
@import '../mixins/_breakpoints.scss';

//
// Display utilities
//

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .d#{$infix}None         { display: none !important; }
    .d#{$infix}Inline       { display: inline !important; }
    .d#{$infix}InlineBlock { display: inline-block !important; }
    .d#{$infix}Block        { display: block !important; }
    .d#{$infix}Table        { display: table !important; }
    .d#{$infix}TableCell   { display: table-cell !important; }
    .d#{$infix}Flex         { display: flex !important; }
    .d#{$infix}InlineFlex  { display: inline-flex !important; }
  }
}
