@import '../_variables.scss';

// Positioning

.fixedTop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.fixedBottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.stickyTop {
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;
}
