@import '../_variables.scss';
@import '../mixins/_breakpoints.scss';
@import '../mixins/_visibility.scss';

//
// Visibility utilities
//

.invisible {
  @include invisible();
}

// Responsive visibility utilities

@each $bp in map-keys($grid-breakpoints) {
  .hidden#{$bp}Up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden#{$bp}Down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}


// Print utilities
//
// Media queries are placed on the inside to be mixin-friendly.

.visiblePrintBlock {
  display: none !important;

  @media print {
    display: block !important;
  }
}
.visiblePrintInline {
  display: none !important;

  @media print {
    display: inline !important;
  }
}
.visiblePrintInlineBlock {
  display: none !important;

  @media print {
    display: inline-block !important;
  }
}

.hiddenPrint {
  @media print {
    display: none !important;
  }
}
